.btnEmpezar{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 0px 30px;
    border-radius: 25px;
    border: 0;
    height: 40px;
}

.col-informacion{
    padding-left: 60px;
    padding-right: 60px;
}

._215b15{
    margin-bottom: 0;
}