<!-- Body Start -->
<div class="wrapper _bg4586">
    <br>
    <br>
    <br>
    <div class="_215b01">
        <div class="container-fluid">			
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="section3125">							
                        <div class="row">						
                            <div class="col-xl-4 col-lg-5 col-md-6">						
                                <div class="preview_video">						
                                    <a href="#" class="fcrse_img" data-toggle="modal" data-target="#videoModal">
                                        <img src="{{leccion?.portada || 'assets/images/courses/portada-base.png'}}" alt="portada leccion {{leccion?.slug}}">
                                        <div class="course-overlay">
                                            <!-- <div class="badge_seller">{{this.leccion.estado}}</div> -->
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <!-- <span class="_215b02">Preview this course</span> -->
                                        </div>
                                    </a>
                                </div>
                            
                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-6">
                                <div class="_215b03">
                                    <h2>{{this.leccion.titulo}}</h2>
                                    <span class="_215b04">{{this.leccion.objetivo?.contenido}}</span>
                                </div>
                                <ul class="_215b31">										
                                    <li>
                                        <a [routerLink]="['/dashboard/lesson', this.leccion.slug]" routerLinkActive="router-link-active">
                                            <button class=" btnEmpezar btn-plantilla">Empezar</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>							
                        </div>							
                    </div>							
                </div>															
            </div>
        </div>
    </div>
    <div class="_215b15 _byt1458 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="user_dt5">
                        <div class="user_dt_left">
                            <div class="live_user_dt">
                                <div class="user_img5">
                                    <a href="#"><img src="{{this.leccion?.creador?.img || 'assets/images/hd_dp.jpg'}}" alt=""></a>												
                                </div>
                                <div class="user_cntnt">
                                    <a href="#" class="_df7852">{{this.leccion?.creador?.nombre}} {{this.leccion?.creador?.apellido}} {{this.leccion?.creador?.idRol?.nombre}}</a>
                                </div>
                            </div>
                        </div>
                
                    </div>
                    <div class="course_tabs">
                        <nav>
                            <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">Información</a>
                                
                                <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="false">Competencias</a>
                            </div>
                        </nav>						
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="_215b17 card">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-informacion">
                    <div class="course_tab_content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                                <div class="_htg451">
                                    <div class="_htg452">
                                        <h3>Presaberes</h3>
                                        <ul>
                                            <li *ngFor="let item of this.leccion.preconceptos">
                                                <span class="_5f7g11">{{item.titulo}}: {{item.concepto}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="_htg452 mt-35">
                                        <h3>Introducción</h3>
                                        <span [innerHTML]="this.leccion.introduccion"></span>
                                    </div>
                                    <hr>
                                    <div class="_htg452 mt-35">
                                        <h3>Conclusiones de la lección</h3>
                                        <span [innerHTML]="this.leccion.conclusiones"></span>
                                    </div>
                                
                                </div>							
                            </div>
                        
                            <div class="tab-pane fade" id="nav-reviews" role="tabpanel">
                                <div class="_htgdrt mt-35">
                                    <h3>Competencias asociadas </h3>
                                    <div class="_scd123">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="_htg452 _abcd145">												
                                                    <li *ngFor="let item of this.leccion.competencias">
                                                        <div class="_5f7g15">
                                                            <i class="fas fa-check-circle"></i>
                                                            <span>{{item.nombre}}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body End -->