<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div>
            <img src="{{plantilla.imgBanner}}" class="card-img-top" alt="..." />
          </div>

          <div class="card">
            <div class="card-header card-header-danger">
              <div class="d-flex justify-content-start">
                <h2 class="card-title">{{plantilla.tituloBanner}}</h2>
              </div>

            </div>
            <div class="card-body">
                <h1>Reportes</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
