.btn-guardar{
    border-radius: 5px;
    height: 35px;
}

.title{
    height: 60px;
}

.rowModal{
    width: 300px;
}


.modalGeneral{
    width: 400px;
}

.area{
    width: 240px;
    height: 60px;
}