@page { margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.98in }
		P { margin-left: 0.5in; text-indent: -0.25in; margin-bottom: 0.08in; direction: ltr; line-height: 100%; text-align: justify; widows: 2; orphans: 2 }
		P.western { font-family: "Arial", serif; font-size: 12pt }
		P.cjk { font-family: "Arial"; font-size: 12pt; so-language: es-CO }
		P.ctl { font-family: "Arial"; font-size: 12pt }
		H3 { margin-left: 0.5in; text-indent: -0.25in; margin-top: 0.19in; margin-bottom: 0.06in; direction: ltr; line-height: 100%; text-align: justify; page-break-inside: avoid; widows: 2; orphans: 2 }
		H3.western { font-family: "Arial", serif }
		H3.cjk { so-language: es-CO }
		H3.ctl { font-weight: normal }