<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="assets/images/page/img/logo1.png" style="width: 20%" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col lapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/auth']"
            routerLinkActive="router-link-active"
          >
            Iniciar sesión <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/auth/register']"
            routerLinkActive="router-link-active"
          >
            Registrarse <i class="fas fa-user-plus"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- HEADER -->
<header class="main-header">
  <div class="background-overlay py-5 bannerpri">
    <div class="container">
      <div class="row d-flex h-100">
        <div
          class="col-sm-6 text-center justify-content-center align-self-center"
        >
          <p class="aprende">Aprende pruebas de software</p>
          <p class="aprende">Aprende con <strong>¡Smart Test!</strong></p>

          <a
            [routerLink]="['/auth']"
            routerLinkActive="router-link-active"
            class="btn btn-lg back-secondary text-white btnaprender"
          >
            Aprender
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- NEWSLETTER  -->

<section id="newsletter" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 h1ser">
        <h1>
          <strong>
            Smart Test te ofrece <i class="fas fa-pencil-alt"></i
          ></strong>
        </h1>
        <hr />
      </div>
    </div>
  </div>
</section>

<!-- FEATURES -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <i class="fas fa-chalkboard-teacher fa-4x icolorazul"></i>
            <h3><strong>Lecciones</strong></h3>
            <p>
              Crea y desarrolla lecciones de aprendizaje, con la metología
              Aprende-Práctica-Aplica
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center">
            <i class="fas fa-tasks fa-4x icolorverde"></i>
            <h3><strong>Pruebas de conocimientos</strong></h3>
            <p>
              Crea y desarrolla test de conocimientos para medir tus
              conocimientos adquiridos
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <i class="fas fa-redo fa-4x icolorazul"></i>
            <h3><strong> Retroalimentación </strong></h3>
            <p>
              Interactua con los estudiantes dando tus aportaciones a sus
              resultados
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body text-center">
            <i class="far fa-file-video fa-4x icolorverde"></i>
            <h3><strong>Recurso educativos</strong></h3>
            <p>
              Agrega recursos educativos y visualiza en línea los recursos que
              otros usuarios comparten
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ABOUT -->
<section class="m5 text-center bg-light">
  <div class="container">
    <div class="row">
     
        
      <div class="col-md-2 bannergrisico">
        <img class="bannergrisico" src="assets/images/page/img/logoico.png" />
     
      </div>

        <div class="col-md-10 bannergris">
          <h3><strong>¿Qué es Smart Test?</strong></h3>
          <p>
            Es una aplicación asistente en el proceso de pruebas de software
            basado en la Norma ISO 29119 como soporte en la implementación de
            una estrategia didáctica en el proceso formativo en educación
            superior
          </p>
        </div>

      
    </div>
  </div>
</section>

<br>
<br>

<!-- TEAM -->
<section class="text-center team">
  <div class="container p-5">
    <h1 class="text-center text-white">Universidades</h1>
    <p class="text-white">
      La Universidad de Santander y el Tecnológico de Antioquia nos unimos para crear Smart Test.  
      Smart Test es desarroollado a partir del proyecto macro Estrategia didáctica para el proceso formativo de pruebas de software en instituciones de educación superior.
    </p>
    <div class="row">
      <!-- USER TEAM -->
      <br />
      <div class="col-lg-3 cardudes">
        <div class="card">
          <div class="card-body">
            <img
              src="assets/images/page/img/logoudes.jpg"
              class="img-fluid w-50"
            />
            <h3>Universidad de Santander</h3>
            <p>
              La UDES, es una universidad de carácter privado, aprobada por el Estado Colombiano a través del ICFES y del Ministerio de Educación Nacional, según personería jurídica 810 de 1996; organizada de acuerdo con las disposiciones de la Ley 30 de 1992. Ver menos
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com/UdesCucutaOficial"><i class="fab fa-facebook-f"></i></a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com/udescampuscucuta/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 cardtdea">
        <div class="card ">
          <div class="card-body">
            <img 
            class="img-fluid rounded-circle logotdea" src="assets/images/page/img/logotdea.png"
            
            />
            <h3>Tecnológico de Antotioquia</h3>
            <p>
              El TdeA es una Institución Universitaria reconocida por la 
              calidad académica y la innovación de sus programas,
               enmarcados en un ambiente de convivencia, integración y solidaridad.
              Ofrece programas Técnicos Profesionales, Tecnologías, 
               Profesional Universitario y Posgrados
            </p>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-4">
                <a href="https://www.facebook.com/tecdeantioquia"><i class="fab fa-facebook-f"></i></a>
              </div>
              <div class="p-4">
                <a href="https://www.instagram.com/tecnologicodeantioquia/"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer mt-30">
  <div class="wrapper">
    <div class="container-fluid">
      <div class="container">
        <div class="footer_bottm">
          <div class="row">
            <div class="col-md-6">
              <ul class="fotb_left">
                <li>
                  <a href="index.html">
                    <div class="footer_logo">
                      <img src="assets/images/logofooter.png" alt="" />
                    </div>
                  </a>
                </li>
                <li>
                  <p>
                    © 2021 <strong>Smart Test</strong>. Todos los derechos
                    reservados.
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="edu_social_links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
