.navbar {
    box-shadow: 2px 2px 5px white;
    opacity: 0.9;
    background-color: #43bd41;
  }
  
  .navbar .nav-item .nav-link {
    color: #fff;
    font-size: 120%;
    
  }
  
  .main-header {
    position: relative;
   background: url(./../../../../assets/images/page/img/background1.png); 
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
  }
  
  .background-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .form-control, .btn{
    border-radius: 0;
  }
  
  .team {
    background: #2671c3;
  }

  .aprende{
    font-size: 150%;
  }
  
  hr{
    background-color: #43bd41;
  }

  .h1ser{
    text-align: center;
  }

  .btnaprender{
    border-radius: 15px;
  }

  .borderadius{
    border-radius: 360px;
  }

  .btn1542{
    background-color: #43bd41;  
  }
  
  .wrapper {
    padding: 0;
  }

  .card{
    border: none;
  }

  .bannerpri{
    margin-top: 45%;
    margin-left: 30%;
  }

  .icolorazul{
    color: #2671c3;
    margin-top: -10%;
    margin-bottom: 10%;
  }

  .icolorverde{
    color: #43bd41;
    margin-top: -10%;
    margin-bottom: 10%;
  }

  .bannergrisico{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 60%;
  }

  .bannergris{
    padding-top: 3em;
    padding-bottom: 1em;;
   
  }

  .logotdea{
    width: 67%;
  }

  .cardtdea{
    height: 100%;
    margin-left: 10%;
   
  }

  .cardudes{
    height: 100%;
    margin-left: 20%;
   
  }