.card-img-top{
    height: 200px;
    
  }
  .card-header {
    background-color: white;
  }

  .btncrear{
    margin-bottom: 1%;
    align-self: left;
    margin-top: 20px;
  }

  .btnAddPregunta{
    margin-left: 2%;
    border-radius:  25px;
    border: none;
    width: 50px;
  }

  .btn-tooltip{
    background-color: white;
    border: 0;
    margin-right: 10px;
    color: #2671c3;
    width: 20px;
    padding: 0;
  }

  .bodyCard{
    padding: 0 30px;
  }

  .titleInformacion{
    margin-left: 20px;
  }

  .btnCrear{
    margin-top: 0;
    margin-bottom: 30px;
  }

  .bodyPreguntas{
    padding-top: 0;
  }

  .titlePreguntas{
    color: black;
  }