<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <img src="{{ plantilla.imgBanner }}" class="card-img-top" alt="..." />
        </div>
        <div class="col-sm-12 col-md-12">
        <div class="card">
          <br>
          <h2 class="card-title titleInformacion">Información general</h2>
          <div class="card-body bodyCard">
            

            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="row">
                  <div class="col-sm-12 col-md-10">
                    <label>Titulo de la prueba *</label>
                  </div>
                  <div class="col-sm-12 col-md-2">
                    <button class="btn-tooltip" data-toggle="tooltip"
                      title="En este campo debes digitar el nombre de la lección, se recomienda que el nombre concuerde con el contenido de la misma">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-9">
                <angular-editor
                  [(ngModel)]="test.nombre"
                  name="test.nombre"
                  [placeholder]="'Nombre de la prueba de conocimiento...'"
                ></angular-editor>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="row">
                  <div class="col-sm-12 col-md-10">
                    <label>Contenido *</label>
                  </div>
                  <div class="col-sm-12 col-md-2">
                    <button class="btn-tooltip" data-toggle="tooltip"
                      title="En este campo debes digitar una breve descripción de lo los temas que va a tratar la prueba de conocimiento">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-9">
                <angular-editor
                  [(ngModel)]="test.contenido"
                  name="test.contenido"
                  [placeholder]="'Contenido...'"
                >
                </angular-editor>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="row">
                  <div class="col-sm-12 col-md-10">
                    <label>Observaciones *</label>
                  </div>
                  <div class="col-sm-12 col-md-2">
                    <button class="btn-tooltip" data-toggle="tooltip"
                      title="Recomendaciones a tener en cuenta para el desarrollo de la prueba de conocimiento">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-9">
                <angular-editor
                  [(ngModel)]="test.observaciones"
                  name="test.observaciones"
                  [placeholder]="'Observaciones...'"
                ></angular-editor>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="row">
                  <div class="col-sm-12 col-md-10">
                    <label>Fecha de inicio *</label>
                  </div>
                  <div class="col-sm-12 col-md-2">
                    <button class="btn-tooltip" data-toggle="tooltip"
                      title="Seleccione la fecha en la que va estar disponible la prueba de conocimiento">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-9">
                <input
                  [(ngModel)]="test.inicio"
                  name="test.inicio"
                  type="datetime-local"
                  class="form-control"
                />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="row">
                  <div class="col-sm-12 col-md-10">
                    <label>Fecha de cierre *</label>
                  </div>
                  <div class="col-sm-12 col-md-2">
                    <button class="btn-tooltip" data-toggle="tooltip"
                      title="Seleccione la fecha de cierre de la prueba de conocimiento">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-9">
                <input
                  [(ngModel)]="test.cierre"
                  name="test.cierre"
                  type="datetime-local"
                  class="form-control"
                />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="row">
                  <div class="col-sm-12 col-md-10">
                    <label>Duración *</label>
                  </div>
                  <div class="col-sm-12 col-md-2">
                    <button class="btn-tooltip" data-toggle="tooltip"
                      title="Indique el tiempo de duración de la prueba en minutos">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-9">
                <input
                  [(ngModel)]="test.duracion"
                  name="test.duracion"
                  placeholder="Duracion..."
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
            <br>
            <div  class="row">
              <div class="col-sm-12 col-md-3">
                <div class="row">
                  <div class="col-sm-12 col-md-10">
                    <label>Grupo *</label>
                  </div>
                  <div class="col-sm-12 col-md-2">
                    <button class="btn-tooltip" data-toggle="tooltip"
                      title="Indique el grupo">
                      <i class="far fa-question-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-9">
                
                  <select (click)="selectGrupo()" [(ngModel)]="test.grupo" class="custom-select"
                      id="inputGroupSelect01">
                      <option value="">Todos los grupos...</option>
                      <option *ngFor="let grupo of grupos" value="{{grupo.id}}">
                          {{grupo.codigo}} - {{grupo.nombre}}
                      </option>
                  </select>
              </div>
            </div>
            <br>
          
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#testpreguntas"
                    aria-expanded="false"
                    aria-controls="testpreguntas"
                    (click)="this.iconStatus[0] = !this.iconStatus[0]"
                  >
                    <div class="row">
                      <div class="title-icon " class="col-lg-12">
                        <ul>
                          <li class="title titlePreguntas">
                            <i *ngIf="!this.iconStatus[0]" class="fas fa-angle-right"> </i>
                            <i *ngIf="this.iconStatus[0]" class="fas fa-angle-down"> </i>
                            Preguntas

                            <button class="btn-tooltip" data-toggle="tooltip" title="
                          Existe preguntas multiples o abiertas según se requiera
                          ">
                            <i class="far fa-question-circle"></i>
                          </button>
                          </li>
                          
                        </ul>
                      </div>
                    
                    </div>
                  </button>
                </h2>
              </div>

              <div
                id="testpreguntas"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#testpreguntas"
                >
                <div class="card-body bodyPreguntas">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="ui search focus mt-30 lbel25">
                      
                        <div class="ui left icon input swdh19">
                          <select
                            [(ngModel)]="tipoSelect"
                            name="tipoSelect"
                            class="
                              ui
                              hj145
                              dropdown
                              cntry152
                              prompt
                              srch_explore
                              select-competencia
                            "
                          >
                            <option value="">Tipo de pregunta</option>

                            <option
                              *ngFor="let tipo of tipoPregunta"
                              value="{{ tipo?.nombre }}"
                            >
                              {{ tipo?.nombre | uppercase }}
                            </option>
                          </select>
                          <button
                            (click)="agregarPregunta()"
                            type="button"
                            class="btnAddPregunta btn-plantilla"
                          >
                          <i class="fas fa-plus"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              <div
                *ngFor="let pregunta of preguntas; index as i"
                class="card-body"
              >
                <div
                  *ngIf="pregunta.tipo == 'multiple'"
                  class="col-lg-12 col-md-12"
                >

                <div class="row">
                  <div class="col-md-11 col-sm-11">
                    <div class="input-group mb-3 valorInput">
                      <div class="input-group-prepend ">
                        <span class="input-group-text">Valor pregunta: </span>
                      </div>
                      <input type="number" class="form-control " [(ngModel)]="pregunta.valor" required>
                    </div> 
                  </div>
                  <div class="col-md-1 col-sm-1">
                    
                      <i class="far fa-trash-alt text-danger fa-2x" (click)="eliminarPregunta(i)"></i>
                  
                  </div>
              </div>

                  <div class="course_des_textarea mt-30 lbel25">
                    <angular-editor
                      [(ngModel)]="pregunta.contenido"
                      name="pregunta.contenido"
                      [placeholder]="'Escribe aqui la pregunta...'"
                    ></angular-editor>
                  </div>

                  <br />
                  <button
                    (click)="agregarRespuesta(i, pregunta)"
                    type="button"
                    class="btn btn-plantilla"
                  >
                    Agregar respuesta
                  </button>
                  <hr />

                  <div
                    id="collapseOne"
                    class="collapse show"  aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                    *ngIf="pregunta.showbody"
                  >
                    <div class="accordion" id="acordeonPreguntas">
                      <div
                        *ngFor="let respuesta of respuestas[i]; index as b"
                        class="card"
                      >
                        <div
                          class="card-header"
                          role="tab"
                          [ngClass]="respuesta?.accordianclass"
                          role="tab"
                          (click)="onClickAccordion(i, respuesta)"
                        >
                          <h2 class="mb-0">
                            <button
                              class="btn btn-block text-left"
                              type="button"
                            >
                              <div class="row">
                                <div class="title-icon" class="col-lg-11">
                                  <label class="title"
                                    >Respuesta*: {{ b + 1 }}</label
                                  >
                                </div>
                                <div class="col-lg-1">
                                  <i
                                    id="iconodesplegable"
                                    class="fas fa-angle-double-down"
                                  ></i>
                                </div>
                              </div>
                            </button>
                          </h2>
                        </div>

                        <div
                          id="collapseOne"
                          class="collapse show"
                          aria-labelledby="headingOne"
                          data-parent="#accordionExample"
                        >
                          <div class="card-body" *ngIf="respuesta.showbody">
                            <div class="course__form">
                              <div class="general_info10">
                                <div class="row">
                                  <div class="col-lg-12 col-md-12">
                                    <div class="ui search focus mt-30 lbel25">
                                      <input
                                        type="checkbox"
                                        [(ngModel)]="respuesta.correcta"
                                        name="respuesta.correcta"
                                        class="form-check-input"
                                        id="exampleCheck1"
                                      />
                                      <label
                                        class="form-check-label"
                                        for="exampleCheck1"
                                      >
                                        Respuesta correcta</label
                                      >
                                      <angular-editor
                                        [(ngModel)]="respuesta.contenido"
                                        name="respuesta.contenido"
                                        [placeholder]="
                                          'Escribe aqui la respuesta ..'
                                        "
                                      ></angular-editor>
                                      <br>
                                      <button
                                        (click)="respuesta.addRetro = true"
                                        type="button"
                                        class="btn btn-plantilla"
                                      >
                                        Agregar retroalimentación
                                      </button>
                                      <br>
                                      <br>
                                      <div *ngIf="respuesta.addRetro">
                                        <angular-editor
                                          [(ngModel)]="
                                            respuesta.retroalimentacion
                                          "
                                          name="respuesta.retroalimentacion"
                                          [placeholder]="
                                            'Escribe aqui la retroalimentacion ..'
                                          "
                                        ></angular-editor>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="pregunta.tipo === 'abierta'"
                  class="col-sm-12 col-md-12"
                >
                  <div class="course_des_textarea mt-30 lbel25">
                    <label>Pregunta*</label>
                    <angular-editor
                      [(ngModel)]="pregunta.contenido"
                      [placeholder]="
                        'Escribe aqui la pregunta de la leccion...'
                      "
                      name="pregunta.contenido"
                    ></angular-editor>
                    <button
                      (click)="pregunta.addRetro = true"
                      type="button"
                      class="btn btn-primary"
                    >
                      Agregar retroalimentacion
                    </button>
                    <button
                      (click)="eliminarPregunta(i)"
                      class="part_btn_save prt-sv btn-plantilla"
                      type="button"
                    >
                      Eliminar
                    </button>
                    <div *ngIf="pregunta.addRetro">
                      <angular-editor
                        [(ngModel)]="pregunta.retroalimentacion"
                        name="pregunta.retroalimentacion"
                        [placeholder]="'Escribe aqui la retroalimentacion ..'"
                      ></angular-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-12 col-md-12 justify-content-end d-flex btnCrear">
            <button
              *ngIf="!id"
              (click)="crearTest()"
              class="part_btn_save prt-sv btn-plantilla "
              type="button">
              Guardar
            </button>
            <button
              *ngIf="id"
              (click)="editarTest()"
              class="part_btn_save prt-sv btn-plantilla "
              type="button">
              Editar
            </button>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
