<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
           <div>
            <img
              src="{{ plantilla.imgBanner }}"
              class="card-img-top"
              alt="..."
            />

          </div>

            <div id="cardGeneral" class="card">
            <div class="card-body">
              <h2 class="card-title">Información general</h2>
              <label>Nombre de la prueba de conocimiento</label>
              <angular-editor
                [(ngModel)]="test.nombre"
                name="test.nombre"
                [placeholder]="'Nombre de la prueba de conocimiento...'"
              ></angular-editor>
              <br>
              <label>Contenido</label>
              <angular-editor
                [(ngModel)]="test.contenido"
                name="test.contenido"
                [placeholder]="'Contenido...'"
              ></angular-editor>
              <br>
              <label>Observaciones</label>
              <angular-editor
                [(ngModel)]="test.observaciones"
                name="test.observaciones"
                [placeholder]="'Observaciones...'"
              ></angular-editor>

              <br>
              <label>
                Fecha de inicio
                <input
                  [(ngModel)]="test.inicio"
                  name="test.inicio"
                  type="datetime-local"
                  class="form-control"
                />
              </label>

              <label>
                Fecha de cierre
                <input
                  [(ngModel)]="test.cierre"
                  name="test.cierre"
                  type="datetime-local"
                  class="form-control"
                />
              </label>
            </div>
          </div>

        

          <div  id="cardSegundo"class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">

                <div class="row">
                  <div class="title-icon" class="col-lg-12">
                    <ul>
                      <li class="title">
                       Preguntas
                      </li>
                    </ul>
                  </div>
                </div>
              </h2>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="ui search focus mt-30 lbel25">
                    <label>Tipos de pregunta*</label>
                    <div class="ui left icon input swdh19">
                      <select
                        [(ngModel)]="tipoSelect"
                        name="tipoSelect"
                        class="
                          ui
                          hj145
                          dropdown
                          cntry152
                          prompt
                          srch_explore
                          select-competencia
                        "
                      >
                        <option value="">Selecciona</option>

                        <option
                          *ngFor="let tipo of tipoPregunta"
                          value="{{ tipo?.nombre }}"
                        >
                          {{ tipo?.nombre | uppercase }}
                        </option>
                      </select>
                      <button
                        (click)="agregarPregunta()"
                        type="button"
                        class="btn btn-primary"
                      >
                        Agregar pregunta
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            
            <div
              *ngFor="let pregunta of preguntas; index as i"
              class="card-body"
            >
              <div
                *ngIf="pregunta.tipo == 'multiple'"
                class="col-lg-12 col-md-12"
              >
                <div class="course_des_textarea mt-30 lbel25">
                  <label>Pregunta*</label>
                  <angular-editor
                    [(ngModel)]="pregunta.contenido"
                    name="pregunta.contenido"
                    [placeholder]="'Escribe aqui la pregunta...'"
                  ></angular-editor>
                </div>

                <br />
                <button
                  (click)="agregarRespuesta(i, pregunta)"
                  type="button"
                  class="btn btn-primary"
                >
                  Agregar respuesta
                </button>
                <hr />

                <div
                  class="card-header"
                  role="tab"
                  [ngClass]="respuesta?.accordianclass"
                  role="tab"
                  (click)="
                    onClickAccordion(i, pregunta, (pregunta.showbody = true))
                  "
                >
                  <h3>
                    <button class="btn btn-block text-left" type="button">
                      <div class="row">
                        <div class="title-icon" class="col-lg-12">
                          <label class="title">Respuestas</label>
                        </div>
                      </div>
                    </button>
                  </h3>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                  *ngIf="pregunta.showbody"
                >
                  <div class="accordion" id="acordeonPreguntas">
                    <div
                      *ngFor="let respuesta of respuestas[i]; index as b"
                      class="card"
                    >
                      <div
                        class="card-header"
                        role="tab"
                        [ngClass]="respuesta?.accordianclass"
                        role="tab"
                        (click)="onClickAccordion(i, respuesta)"
                      >
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left" type="button">
                            <div class="row">
                              <div class="title-icon" class="col-lg-11">
                                <label class="title"
                                  >Respuesta*: {{ b + 1 }}</label
                                >
                              </div>
                              <div class="col-lg-1">
                                <i
                                  id="iconodesplegable"
                                  class="fas fa-angle-double-down"
                                ></i>
                              </div>
                            </div>
                          </button>
                        </h2>
                      </div>

                      <div
                        id="collapseOne"
                        class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#accordionExample"
                      >
                        <div class="card-body" *ngIf="respuesta.showbody">
                          <div class="course__form">
                            <div class="general_info10">
                              <div class="row">
                                <div class="col-lg-12 col-md-12">
                                  <div class="ui search focus mt-30 lbel25">
                                    <input
                                      type="checkbox"
                                      [(ngModel)]="respuesta.correcta"
                                      name="respuesta.correcta"
                                      class="form-check-input"
                                      id="exampleCheck1"
                                    />
                                    <label
                                      class="form-check-label"
                                      for="exampleCheck1"
                                    >
                                      Respuesta correcta</label
                                    >
                                    <angular-editor
                                      [(ngModel)]="respuesta.contenido"
                                      name="respuesta.contenido"
                                      [placeholder]="
                                        'Escribe aqui la respuesta ..'
                                      "
                                    ></angular-editor>
                                    <button (click)="respuesta.addRetro = true" type="button" class="btn btn-primary">
                                      Agregar retroalimentacion
                                    </button>
                                    <div *ngIf="respuesta.addRetro">
                                      <angular-editor [(ngModel)]="respuesta.retroalimentacion" name="respuesta.retroalimentacion"
                                      [placeholder]="
                                   'Escribe aqui la retroalimentacion ..'
                                   "></angular-editor>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>
              <div
                  *ngIf="pregunta.tipo === 'abierta'"
                  class="col-lg-12 col-md-12"
                >
                  <div class="course_des_textarea mt-30 lbel25">
                    <label>Pregunta*</label>
                    <angular-editor
                      [(ngModel)]="pregunta.contenido"
                      [placeholder]="
                        'Escribe aqui la pregunta de la leccion...'
                      "
                      name="pregunta.contenido"
                    ></angular-editor>
                    <button (click)="pregunta.addRetro = true" type="button" class="btn btn-primary">
                      Agregar retroalimentacion
                    </button>
                    <div *ngIf="pregunta.addRetro">
                      <angular-editor [(ngModel)]="pregunta.retroalimentacion" name="pregunta.retroalimentacion"
                      [placeholder]="
                   'Escribe aqui la retroalimentacion ..'
                   "></angular-editor>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <button
            (click)="crearTest()"
            class="part_btn_save prt-sv"
            type="button"
          >
            Crear Prueba de Conocimiento
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
