<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="container">


        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Cursos</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="buscador">
                        <div class="input-group mb-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Id, nombre, etc.."
                            aria-label="Recipient's username"
                            aria-describedby="button-addon2"
                          />
                          <button
                            class="btn btn-outline-secondary btn-info"
                            type="button"
                            id="button-addon2"
                          >
                            Buscar
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="boton-crear">
                        <button type="button" class="btn btn-success">Nuevo curso</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">First</th>
                                  <th scope="col">Last</th>
                                  <th scope="col">Handle</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>@mdo</td>
                                </tr>
                                <tr>
                                  <th scope="row">2</th>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>@fat</td>
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                  <td colspan="2">Larry the Bird</td>
                                  <td>@twitter</td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                  </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
  
          </div>
        </div>
      </div>
    </div>
  </div> -->
