<!-- Left Sidebar Start -->
<nav class="vertical_nav">
  <div class="left_section menu_left" id="js-menu">
    <div class="left_section">
      <ul>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="uil uil-book-alt menu--icon"></i>
            <span class="menu--label">Lecciones</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/lesson/new']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Crear Lecciones</a
              >
            </li>
          </ul>
        </li>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="uil uil-clipboard-alt menu--icon"></i>
            <span class="menu--label">Test de conocimiento</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/test']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Mis Pruebas</a
              >
            </li>
          </ul>
        </li>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="uil uil-layers menu--icon"></i>
            <span class="menu--label">Recursos educativos</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/resorces']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Ver recursos</a
              >
            </li>
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/resorces/create-resoruce']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Nuevo recurso</a
              >
            </li>
          </ul>
        </li>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="uil uil-layers menu--icon"></i>
            <span class="menu--label">Administrador</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/admin']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Usuarios</a
              >  
            </li>
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/admin/users/user-list']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Nuevo Usuario</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!--  <div class="left_footer_content">
            <p>© 2020 <strong>Edututs+</strong>. Reservados todos los derechos.</p>
        </div> -->
  </div>
</nav>
<!-- Left Sidebar End -->
