<!-- Left Sidebar Start -->
<nav class="vertical_nav nav-movile">
  <div class="left_section menu_left" id="js-menu">
    <div class="left_section" id="menuborde">
      <ul>
        <li class="menu--item">
          <label class="menu--link" title="Tests">
            <i class="uil  menu--icon  fas fa-home iconos"></i>
            <span class="menu--label"><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
                class="sub_menu--link">Inicio</a></span>
          </label>
        </li>

        <li *ngIf="lecciones.length > 0" class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="fas fa-chalkboard-teacher menu--icon iconos"></i>
            <span class="menu--label">Lecciones</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item" *ngFor="let item of lecciones">
              <a [routerLink]="[item.path]" routerLinkActive="router-link-active"
                class="sub_menu--link">{{item.nombre}}</a>
            </li>
          </ul>
        </li>
        <li *ngIf="pruebas.length > 0" class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="fas fa-tasks menu--icon iconos"></i>
            <span class="menu--label">Test de conocimiento</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item" *ngFor="let item of pruebas">
              <a [routerLink]="[item.path]" routerLinkActive="router-link-active"
                class="sub_menu--link">{{item.nombre}}</a>
            </li>
          </ul>
        </li>
        <li *ngIf="recursos.length > 0" class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="far fa-file-video menu--icon iconos"></i>
            <span class="menu--label">Recursos educativos </span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item" *ngFor="let item of recursos">
              <a [routerLink]="[item.path]" routerLinkActive="router-link-active"
                class="sub_menu--link">{{item.nombre}}</a>
            </li>
          </ul>
        </li>
        <li *ngIf="laboratorios.length > 0" class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="far fa-file-video menu--icon iconos"></i>
            <span class="menu--label">Laboratorio </span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item" *ngFor="let item of laboratorios">
              <a [routerLink]="[item.path]" routerLinkActive="router-link-active"
                class="sub_menu--link">{{item.nombre}}</a>
            </li>
          </ul>
        </li>
        <li *ngIf="reportes.length > 0" class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="fas fa-chalkboard-teacher menu--icon iconos"></i>
            <span class="menu--label">Reportes</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item" *ngFor="let item of reportes">
              <a [routerLink]="[item.path]" routerLinkActive="router-link-active"
                class="sub_menu--link">{{item.nombre}}</a>
            </li>
          </ul>
        </li>
        <li *ngIf="admin.length > 0" class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="fas fa-user-friends menu--icon iconos"></i>
            <span class="menu--label">Administrador</span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item" *ngFor="let item of admin">
              <a [routerLink]="[item.path]" routerLinkActive="router-link-active"
                class="sub_menu--link">{{item.nombre}}</a>
            </li>
          </ul>
        </li>


        <li class="menu--item">
          <label class="menu--link" title="Tests">
            <i class="fas fa-arrow-left menu--icon iconos"></i>
            <span class="menu--label"><a (click)="salir()" class="sub_menu--link">Salir</a></span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Left Sidebar End -->
