



.vertical_nav{
    justify-content: space-between;
    display: flex;
    border-left-color: yellow;
    border-left-width: 20px;
}

.menuborde{
    border-color: yellow;
    border-width: 20px;
}