<!-- Left Sidebar Start -->
<nav class="vertical_nav nav-movile" >
  <div class="left_section menu_left" id="js-menu" >
    <div class="left_section" id="menuborde">
      <ul>
        <li class="menu--item">
          <label class="menu--link" title="Tests">
            <i class="uil  menu--icon  fas fa-home iconos"></i>
            <span class="menu--label"><a
              [routerLink]="['/dashboard']"
              routerLinkActive="router-link-active"
              class="sub_menu--link"
              ><strong>Inicio</strong></a></span>
          </label>
        </li>

        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="fas fa-chalkboard-teacher menu--icon iconos"></i> 
            <span class="menu--label"><strong>Lecciones</strong></span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/lesson']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Lecciones</a
              >
            </li>
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/lesson/new']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Crear Lección</a
              >
            </li>
          </ul>
        </li>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
             <i class="fas fa-tasks menu--icon iconos"></i>
            <span class="menu--label"><strong>Test de conocimiento</strong></span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/test']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Mis Pruebas</a
              >
            </li>
          </ul>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/test/create-test']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Crear prueba</a
              >
            </li>
          </ul>
        </li>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
            <i class="far fa-file-video menu--icon iconos"></i>
            <span class="menu--label"><strong>Recursos educativos</strong> </span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/resources']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Ver recursos</a
              >
            </li>
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/resources/create-resoruce']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Nuevo recurso</a
              >
            </li>
          </ul>
        </li>
        <li class="menu--item menu--item__has_sub_menu">
          <label class="menu--link" title="Tests">
             <i class="fas fa-user-friends menu--icon iconos"></i>
            <span class="menu--label"><strong>Administrador</strong></span>
          </label>
          <ul class="sub_menu">
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/admin/user-list']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Usuarios</a
              >
            </li>
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/admin/user']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Nuevo usuario</a
              >
            </li>
            <li class="sub_menu--item">
              <a
                [routerLink]="['/dashboard/admin/privilegios']"
                routerLinkActive="router-link-active"
                class="sub_menu--link"
                >Privilegios</a
              >
            </li>
          </ul>
        </li>


        <li class="menu--item">
          <label class="menu--link" title="Tests">
            <i class="fas fa-arrow-left menu--icon iconos"></i>
            <span class="menu--label"><a
              (click)="salir()"
              class="sub_menu--link"
              ><strong>Salir</strong></a></span>
          </label>
        </li>

     
      </ul>
    </div>

    <!--  <div class="left_footer_content">
            <p>© 2020 <strong>Edututs+</strong>. Reservados todos los derechos.</p>
        </div> -->
  </div>
</nav>
<!-- Left Sidebar End -->
