#js-menu{
    background-color: #2671c3;
    color: white;
}

#menuborde{
    color: white;
}

span{
    color: white;
}

a{
    color: white;
}

.vertical_nav{
    justify-content: space-between;
    display: flex;
    
}