/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap');

html,
body {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif !important; 
}
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif !important; 
  background-color: #f7f7f7  !important;
}

.color-secondary {
  color: #43bd41;
}
.color-primary {
  color: #2671c3;
}
.back-secondary {
  background-color: #43bd41;
  border-radius: 3px;
}

.back-secondary:hover {
  text-decoration: none;
  background-color: #fcaa05;
  color: white;
}
.back-primary {
  background-color: #2671c3;
}
.btn-plantilla {
  background-color: #2671c3;
  color: white;
  border-radius: 25px;
}
.btn-plantilla :hover {
  background-color: #43bd41;
}

.ng2-dropdown-menu {
  width : 114vh !important;
}

.btn-info{
  background-color: #2671c3;
}

.btn-success{
  background-color: #43bd41;
}
  




  