<!-- Header Start -->
<header class="header clearfix">
  <button type="button" id="toggleMenu" class="toggle_menu">
    <i class="uil uil-bars"></i>
  </button>
  <button id="collapse_menu" class="collapse_menu">
    <i class="uil uil-bars collapse_menu--icon"></i>
    <span class="collapse_menu--label"></span>
  </button>
  <div class="main_logo" id="logo">
    <a href="index.html"
      ><img src="assets/images/Logo.png" alt="" width="140%"
    /></a>
    <a href="index.html"
      ><img class="logo-inverse" src="assets/images/ct_Logo.png" alt=""
    /></a>
  </div>
  <div class="search120">
    <div class="ui search">
      <!-- <div class="ui left icon input swdh10">
            <input class="prompt srch10" type="text" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
            <i class='uil uil-search-alt icon icon1'></i>
          </div> -->
    </div>
  </div>
  <div class="header_right">
    <ul>
     <!--  <li>
        <a href="create_new_course.html" class="upload_btn"
          >Crear nuevo curso</a
        >
      </li>
      <li>
        <a href="index.html" class="option_links"
          ><i class="uil uil-home-alt"></i><span class="noti_count">9+</span></a
        >
      </li>
      <li class="ui dropdown">
        <a href="#" class="option_links"
          ><i class="uil uil-envelope-alt"></i
          ><span class="noti_count">3</span></a
        >
        <div class="menu dropdown_ms">
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="assets/images/left-imgs/img-6.jpg" alt="" />
              <div class="pd_content">
                <h6>Zoena Singh</h6>
                <p>
                  ¡Hola! Señor, cómo está. Te pido una cosa por favor explícalo
                  el precio de este video.
                </p>
                <span class="nm_time">2 min ago</span>
              </div>
            </div>
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="assets/images/left-imgs/img-5.jpg" alt="" />
              <div class="pd_content">
                <h6>Joy Dua</h6>
                <p>
                  Hola, te pagué el video tutorial pero no reproduje el error
                  404.
                </p>
                <span class="nm_time">10 min ago</span>
              </div>
            </div>
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="assets/images/left-imgs/img-8.jpg" alt="" />
              <div class="pd_content">
                <h6>Jass</h6>
                <p>Gracias señor, un video tan agradable.</p>
                <span class="nm_time">Hace 25 min</span>
              </div>
            </div>
          </a>
          <a class="vbm_btn" href="instructor_messages.html"
            >Ver todo <i class="uil uil-arrow-right"></i
          ></a>
        </div>
      </li>
      <li class="ui dropdown">
        <a href="#" class="option_links"
          ><i class="uil uil-bell"></i><span class="noti_count">3</span></a
        >
        <div class="menu dropdown_mn">
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="assets/images/left-imgs/img-1.jpg" alt="" />
              <div class="pd_content">
                <h6>Rock William</h6>
                <p>
                  Me gusta su comentario en video
                  <strong>Cómo crear el menú de la barra lateral</strong>.
                </p>
                <span class="nm_time">Hace 2 minutos</span>
              </div>
            </div>
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="assets/images/left-imgs/img-2.jpg" alt="" />
              <div class="pd_content">
                <h6>Jassica Smith</h6>
                <p>
                  Nueva revisión agregada en video
                  <strong>Desarrollador PHP de pila completa</strong>.
                </p>
                <span class="nm_time">Hace 12 min</span>
              </div>
            </div>
          </a>
          <a href="#" class="channel_my item">
            <div class="profile_link">
              <img src="assets/images/left-imgs/img-9.jpg" alt="" />
              <div class="pd_content">
                <p>Su membresía aprobada <strong>Subir video</strong>.</p>
                <span class="nm_time">Hace 20 min</span>
              </div>
            </div>
          </a>
          <a class="vbm_btn" href="instructor_notifications.html"
            >Ver todo <i class="uil uil-arrow-right"></i
          ></a>
        </div>
      </li> -->
      <li class="ui dropdown">
        <a href="#" class="opts_account">
          <img src="assets/images/hd_dp.jpg" alt="" />
        </a>
        <div class="menu dropdown_account">
          <div class="channel_my">
            <div class="profile_link">
              <img src="assets/images/hd_dp.jpg" alt="" />
              <div class="pd_content">
                <div class="rhte85">
                  <h6>Joginder Singh</h6>
                  <div class="mef78" title="Verify">
                    <i class="uil uil-check-circle"></i>
                  </div>
                </div>
                <span>ejemplo@ejemplo.com</span>
              </div>
            </div>
            <a href="my_instructor_profile_view.html" class="dp_link_12"
              >Ver perfil del instructor</a
            >
          </div>
          <div class="night_mode_switch__btn">
            <a href="#" id="night-mode" class="btn-night-mode">
              <i class="uil uil-moon"></i> Modo nocturno
              <span class="btn-night-mode-switch">
                <span class="uk-switch-button"></span>
              </span>
            </a>
          </div>
          <a href="instructor_dashboard.html" class="item channel_item"
            >Smart Test Tablero</a
          >
          <a href="membership.html" class="item channel_item"
            >Membresías pagadas</a
          >
          <a href="setting.html" class="item channel_item">Configuración</a>
          <a href="help.html" class="item channel_item">Ayuda</a>
          <a href="feedback.html" class="item channel_item"
            >Enviar comentarios</a
          >
          <a href="sign_in.html" class="item channel_item">Salir</a>
        </div>
      </li>
    </ul>
  </div>
</header>
<!-- Header End -->
