<!-- Signup Start -->
<div class="sign_in_up_bg">
  <div class="container">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-12">
        <div class="main_logo25" id="logo">
          <a href="index.html"><img src="assets/images/logo.svg" alt="" /></a>
          <a href="index.html"
            ><img class="logo-inverse" src="assets/images/ct_logo.svg" alt=""
          /></a>
        </div>
      </div>

      <div class="col-lg-6 col-md-8">
        <div class="sign_form">
          <h2>Bienvenido</h2>
          <p>Ingresa con tu cuenta de Smart Test!</p>
          <!-- <button class="social_lnk_btn color_btn_fb">
            <i class="uil uil-facebook-f"></i>Continue with Facebook
          </button>
          <button class="social_lnk_btn mt-15 color_btn_tw">
            <i class="uil uil-twitter"></i>Continue with Twitter
          </button>
          <button class="social_lnk_btn mt-15 color_btn_go">
            <i class="uil uil-google"></i>Continue with Google
          </button> -->
          <form>
            <div class="ui search focus mt-15">
              <div class="ui left icon input swdh95">
                <input
                  class="prompt srch_explore"
                  type="text"
                  name="persona.username"
                  value=""
                  id="id_email"
                  required=""
                  maxlength="64"
                  placeholder="Nombre de usuario"
                  [(ngModel)]="persona.username"
                />
                <i class="uil uil-envelope icon icon2"></i>
              </div>
            </div>
            <div class="ui search focus mt-15">
              <div class="ui left icon input swdh95">
                <input
                  class="prompt srch_explore"
                  type="password"
                  name="persona.password"
                  value=""
                  id="id_password"
                  required=""
                  maxlength="64"
                  placeholder="Contraseña"
                  [(ngModel)]="persona.password"
                />
                <i class="uil uil-key-skeleton-alt icon icon2"></i>
              </div>
            </div>
            <div class="ui form mt-30 checkbox_sign">
              <div class="inline field">
                <div class="ui checkbox mncheck">
                  <input type="checkbox" tabindex="0" class="hidden" />
                  <label>Recordarme</label>
                </div>
              </div>
            </div>
            <button  class="login-btn" type="submit" (click)="login()">Iniciar Sesion</button>
          </form>
          <p class="sgntrm145">
            Or <a href="forgot_password.html">Recuperar Contraseña</a>.
          </p>
          <p class="mb-0 mt-30">
            No tienes una cuenta? <a href="sign_up.html">Registrate</a>
          </p>
        </div>
        <div class="sign_footer">
          <img src="assets/images/sign_logo.png" alt="" />© 2020
          <strong>Smart Test</strong>. Todos los derechos reservados.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Signup End -->
