<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Lista de pruebas</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Titulo</th>
                     
                      <th>Creado por</th>
                      
                      <th class="text-right">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pruebasConocimiento">
                      <td class="text-center">{{ item.nombre }}</td>
                      <td>
                        {{ item.creador.nombre }} - {{ item.creador.apellido }}
                      </td>
                      <td class="td-actions text-right">
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-success"
                          (click)="viewer(item.contenido)"
                        >
                          <i class="material-icons">start</i>
                        </button>
                        <button
                          type="button"
                          rel="tooltip"
                          class="btn btn-danger"
                          (click)="delete(item.id)"
                        >
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  