<!-- Body Start -->
<div class="wrapper" >
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 colProgress">
          <div class="card mb-3 tarjeta">
            <div class="card-body body">
              <div class="row">
                <div class="col-sm-12">

                  <h1 class="card-title title">Progreso global <i class="fas fa-medal"></i></h1>
                  <hr>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4" class="col-sm-4">
                      <h3 id="tituloporcentaje1">Progreso de lecciones</h3>
                      <circle-progress id="circle1" [percent]="70" [radius]="100" [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8" [outerStrokeColor]="'#43bd41'" [innerStrokeColor]="'#B1E8B0'"
                        [animation]="true" [animationDuration]="300" [showSubtitle]="false" [unitsFontSize]="40"
                        [titleFontSize]="40">
                      </circle-progress>
                    </div>
                    <div class="col-xl-4 col-lg-4" class="col-sm-4">
                      <h3 id="tituloporcentaje2">Respuestas correctas</h3>
                      <circle-progress id="circle2" [percent]="90" [radius]="100" [outerStrokeWidth]="16"
                        [innerStrokeWidth]="10" [outerStrokeColor]="'#FCAA05'" [innerStrokeColor]="'#FFD47F'"
                        [animation]="true" [animationDuration]="300" [showSubtitle]="false" [unitsFontSize]="40"
                        [titleFontSize]="40"></circle-progress>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                      <h3 id="tituloporcentaje3">Progreso de competencias</h3>
                      <circle-progress id="circle2" [percent]="50" [radius]="100" [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8" [outerStrokeColor]="'#2671c3'" [innerStrokeColor]="'#94C0F0'"
                        [animation]="true" [animationDuration]="300" [showSubtitle]="false" [unitsFontSize]="40"
                        [titleFontSize]="40"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <br>
      <br>
      <div  class="row">
        <div class="col-sm-12 col-lg-2">
          <img src="assets/images/gato.png" class="gato">
        </div>
        <div class="col-sm-12 col-lg-9 bocadillo-cuadrado">
          <h1 >Hola, Bienvenidos a <strong>SmartTest!</strong></h1>
          <h3> Mi nombre es CAT y te daré un recorrido por toda nuestra plataforma virtual
            <br>
            Empecemos...
          </h3>
        </div>
      </div>
      <br>
      <br>

      <div  class="row">
        <div class="col-sm-12 col-lg-1">
        </div>
        <div class="col-sm-12 col-lg-9 bocadillo-cuadrado2">
          <h1 >Lecciones de aprendizaje</h1>
          <h4>
            El módulo de lecciones tiene todos los elementos necesarios para que conozcas las pruebas de software. Usamos la metodología <strong>APRENDE-PRACTICA-APLICA</strong> para que aprendas de manera dinámica.
            Visita el módulo de lecciones <a [routerLink]="['/dashboard/lesson']" routerLinkActive="router-link-active" >Aquí.</a>
          </h4>
        </div>
        <div class="col-sm-12 col-lg-2">
          <img src="assets/images/gato.png" class="gato">
        </div>
      </div>
      <br>
      <br>
      <div  class="row">
        <div class="col-sm-12 col-lg-2">
          <img src="assets/images/gato.png" class="gato">
        </div>
        <div class="col-sm-12 col-lg-9 bocadillo-cuadrado3">
          <h1 >Pruebas de  conocimiento</h1>
          <h4> Las pruebas de conocimiento evaluarán tu progreso en el curso, cuentas con un tiempo para desarrollarla y al final tendrás <strong>retroalimentación</strong> de tus respuestas. Visita el módulo de pruebas de conocimiento <a [routerLink]="['/dashboard/test']" routerLinkActive="router-link-active">Aquí.</a>
          </h4>
        </div>
      </div>  
      <br>
      <br>
      <div  class="row">
        <div class="col-sm-12 col-lg-1">
        </div>
        <div class="col-sm-12 col-lg-9 bocadillo-cuadrado4">
          <h1 >Recursos educativos</h1>
          <h4>
            Los recursos educativos <strong>fortalecen</strong>  tus conocimientos cuando estes desarrollando las lecciones. Puedes ver los recursos en línea o descargarlos. <strong></strong> 
            Visita el módulo de recursos educativos <a [routerLink]="['/dashboard/resorces']" routerLinkActive="router-link-active" >Aquí.</a>
          </h4>
        </div>
        <div class="col-sm-12 col-lg-2">
          <img src="assets/images/gato.png" class="gato">
        </div>
      </div>

      <br>
      <br>

      <div  class="row">
        <div class="col-sm-12 col-lg-2">
          <img src="assets/images/gato.png" class="gato">
        </div>
        <div class="col-sm-12 col-lg-9 bocadillo-cuadrado5">
          <h1 >Laboratorio</h1>
          <h4> En el laboratorio podras aplicar todo lo aprendido, además tienes la opción de documentar las <strong>pruebas de software</strong> y poder descargar tus resultados. Visita el módulo de laboratorio <a [routerLink]="['/dashboard/laboratory']" routerLinkActive="router-link-active">Aquí.</a>
          </h4>
        </div>
      </div> 

    </div>
  </div>
</div>
<!-- Body End -->
