
 


#circle1 {
  margin-left: 18%;
}

#circle2 {
  margin-left: 18%;
}

#circle3 {
  margin-left: 18%;
}

#tituloporcentaje1 {
  text-align: center;
  margin-top: 3%;
  color: #43bd41;
}

#tituloporcentaje2 {
  text-align: center;
  margin-top: 3%;
  color: #fcaa05;
}

#tituloporcentaje3 {
  text-align: center;
  margin-top: 3%;
  color: #2671c3;
}


#iconodesplegable {
  font-size: 25px;
  color: #2671c3;
}

.card-header {
  background-color: white;
}

#cardprimera {
  border-color: #2671c3;
  border-bottom-width: 8px;
}

hr {
  background-color: #2671c3;
}

.card{
  border-left: white;
  border-right: white; 
  border-top-color: #2671c3;
  border-bottom-color: white  ;
}

._new89{
  width: device-width;
  float: right;
}

