#circle1 {
  margin-left: 18%;
}
#circle2 {
  margin-left: 18%;
}

#circle3 {
  margin-left: 18%;
}

#tituloporcentaje1 {
  text-align: center;
  margin-top: 3%;
  color: #43bd41;
}

#tituloporcentaje2 {
  text-align: center;
  margin-top: 3%;
  color: #fcaa05;
}

#tituloporcentaje3 {
  text-align: center;
  margin-top: 3%;
  color: #2671c3;
}


.collapseAccordion :hover {
    color: white;
    background-color: #B1E8B0;
  }
  
  .expandAccordion {
    color: white;
    background-color: #94C0F0;
  }

  #iconodesplegable {
      font-size: 25px;
  }

  .card-header{
      background-color: white;
  }

  #cardprimera{
      border-color: #2671c3 ;
      border-bottom-width: 8px;
  }

 hr {
     background-color: #2671c3;
 }