<!-- Body Start -->
<div class="wrapper" >
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-sm-12 colProgress">
          <div class="card mb-3 tarjeta">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">

                  <h1 class="card-title"><strong>Progreso global</strong></h1>
                  <hr>
                  <div class="row">
                    <div class="col-xl-4 col-lg-4" class="col-sm-4">
                      <h3 id="tituloporcentaje1">Progreso de lecciones</h3>
                      <circle-progress id="circle1" [percent]="70" [radius]="100" [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8" [outerStrokeColor]="'#43bd41'" [innerStrokeColor]="'#B1E8B0'"
                        [animation]="true" [animationDuration]="300" [showSubtitle]="false" [unitsFontSize]="40"
                        [titleFontSize]="40">
                      </circle-progress>
                    </div>
                    <div class="col-xl-4 col-lg-4" class="col-sm-4">
                      <h3 id="tituloporcentaje2">Respuestas correctas</h3>
                      <circle-progress id="circle2" [percent]="90" [radius]="100" [outerStrokeWidth]="16"
                        [innerStrokeWidth]="10" [outerStrokeColor]="'#FCAA05'" [innerStrokeColor]="'#FFD47F'"
                        [animation]="true" [animationDuration]="300" [showSubtitle]="false" [unitsFontSize]="40"
                        [titleFontSize]="40"></circle-progress>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                      <h3 id="tituloporcentaje3">Progreso de competencias</h3>
                      <circle-progress id="circle2" [percent]="50" [radius]="100" [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8" [outerStrokeColor]="'#2671c3'" [innerStrokeColor]="'#94C0F0'"
                        [animation]="true" [animationDuration]="300" [showSubtitle]="false" [unitsFontSize]="40"
                        [titleFontSize]="40"></circle-progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div  class="row">
        <div class="col-sm-12 col-lg-2">
          <img src="assets/images/gato1.png" class="gato">
        </div>

        <div class="col-sm-12 col-lg-9 bocadillo-cuadrado">
          <h1 >Hola, Bienvenidos a <strong>SmartTest!</strong></h1>
          <h3> Mi nombre es CAT y te daré un recorrido por toda nuestra plataforma virtual
            <br>
            Empecemos...
          </h3>
        </div>
      </div>

      <div  class="row">


        <div class="col-sm-12 col-lg-9 bocadillo-cuadrado2">
          <h1 ></h1>
          <h3>
          </h3>
        </div>
        <div class="col-sm-12 col-lg-2">
          <img src="assets/images/gato1.png" class="gato2">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body End -->
