<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div>
            <img src="{{ plantilla.imgBanner }}" class="card-img-top" alt="..." />
          </div>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" (click)="this.iconStatus[0] = !this.iconStatus[0]"
                    type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    <div class="row">
                      <div class="title-icon" class="col-lg-12">
                        <ul>
                          <li class="title">
                            <h3>
                              <i *ngIf="!this.iconStatus[0]" class="fas fa-angle-right"> </i>
                              <i *ngIf="this.iconStatus[0]" class="fas fa-angle-down"> </i>
                              {{ this.plantilla?.menuGeneral }}
                            </h3>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="general_info10">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="ui search focus mt-30 lbel25">
                        <div class="row">
                          <div class="col-sm-12 col-md-3">
                            <div class="row">
                              <div class="col-sm-12 col-md-10">
                                <label>Titulo de la lección *</label>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                <button class="btn-tooltip" data-toggle="tooltip"
                                  title="En este campo debes digitar el nombre de la lección, se recomienda que el nombre concuerde con el contenido de la misma">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-9">
                            <div class="ui left icon input swdh19">
                              <input [(ngModel)]="leccion.titulo" name="leccion.titulo" class="custom-select inputtitle"
                                type="text" placeholder=" " data-purpose="edit-course-title" value="" required />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="ui search focus mt-30 lbel25">
                        <div class="row">
                          <div class="col-sm-12 col-md-3">
                            <div class="row">
                              <div class="col-sm-12 col-md-10">
                                <label>Objetivo asociado *</label>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                <button class="btn-tooltip" data-toggle="tooltip"
                                  title="El objetivo de aprendizaje reflejan lo que se quiere alcanzar con la acción formativa, el estudiante debe demostrar al terminar una lección dada lo que se planteó en el objetivo.">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-9">
                            <div class="ui left icon input swdh19 divobj">
                              <select [(ngModel)]="leccion.objetivo" name="leccion.objetivo"
                                class="custom-select inputobject">
                                <option value="">
                                  Selecciona el objetivo
                                </option>
                                <option *ngFor="let objetivo of objetivos" value="{{ objetivo?.id }}">
                                  {{ objetivo?.contenido }}
                                </option>
                              </select>
                              <app-add-element [model]="newObjetivo.model" [title]="newObjetivo.title"
                                [labels]="newObjetivo.labels" (addElementos)="cargarObjetivos($event)" #addobjetivos>
                              </app-add-element>
                              <button type="button" (click)="
                                addobjetivos.addArray(newObjetivo.arrayForm)" class="
                                      btn btn-plantilla
                                      btnaddpreg
                                      btn-primary
                                    " data-toggle="modal" data-target="#addobjetivo">
                                <i class="fas fa-plus"></i>
                              </button>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="ui search focus mt-30 lbel25">
                        <div class="row">
                          <div class="col-sm-12 col-md-3">
                            <div class="row">
                              <div class="col-sm-12 col-md-10">
                                <label>Competencia *</label>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                <button class="btn-tooltip" data-toggle="tooltip" title="La competencia es la integración de conocimientos, habilidades y actitudes, con el objetivo de poner en acción los desempeños adecuados en un contexto dado. La competencia implica poder usar los
                                conocimientos en el desarrollo de productos o acciones. (Se puede 
                                ">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-9">
                            <div class="row">
                              <div class="col-sm-10 col-md-10">
                                <div class="ui left icon input swdh19 taginput">
                                  <tag-input class="dropdown" [(ngModel)]="leccion.competencias"
                                    name="leccion.competencias" placeholder="Selecciona las competencias"
                                    secondaryPlaceholder=" " canDeleteTags="false">
                                    <tag-input-dropdown class="ng2-dropdown-container ng2-menu-item"
                                      [showDropdownIfEmpty]="true" [autocompleteItems]="itemsCompetencia">
                                    </tag-input-dropdown>
                                  </tag-input>

                                  <!-- Button trigger modal -->
                                  <app-search-element [title]="'Banco de competencias'" [model]="'competencia'"
                                    [headerTable]="tablaCompetencias.header" [bodyTable]="tablaCompetencias.body"
                                    (selectElementos)="selectCompetencias($event)" #searchCompetencia>
                                  </app-search-element>

                                  <!-- Button trigger modal -->
                                  <app-add-element [model]="newCompetencia.model" [title]="newCompetencia.title"
                                    [labels]="newCompetencia.labels" [mer]="newCompetencia.mer" #addcompetencias>
                                  </app-add-element>
                                </div>
                              </div>
                              <div class="col-sm-2 col-md-2 btnesBanco ">
                                <button type="button" (click)="searchCompetencia.cargarModel()" class="
                                          btn btn-plantilla
                                          btnsearpreg
                                          btn-primary
                                        " data-toggle="modal" data-target="#competencia">
                                  <i class="fas fa-search"></i>
                                </button>
                                <button type="button" (click)="
                                      addcompetencias.addArray(newCompetencia.arrayForm)
                                      " class="
                                        btn btn-plantilla
                                        btnaddpreg
                                        btn-primary
                                      " data-toggle="modal" data-target="#addcompetencia">
                                  <i class="fas fa-plus"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="ui search focus mt-30 lbel25">
                        <div class="row">
                          <div class="col-sm-12 col-md-3">
                            <div class="row">
                              <div class="col-sm-12 col-md-10">
                                <label>Preconceptos *</label>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                <button class="btn-tooltip" data-toggle="tooltip"
                                  title="Los preconceptos son las bases que se debe tener el estudiante para el desarrollo de la lección">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-9">
                            <div class="row">
                              <div class="col-sm-10 col-md-10">
                                <div class="ui left icon input swdh19">
                                  <tag-input class="input-tag" [(ngModel)]="leccion.preconceptos"
                                    name="leccion.Preconceptos" placeholder="Selecciona los preconcepto"
                                    secondaryPlaceholder="">
                                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="items">
                                    </tag-input-dropdown>
                                  </tag-input>
                                  <!-- Button trigger modal -->
                                  <app-search-element [title]="'Banco de preconceptos'" [model]="'preconcepto'"
                                    [headerTable]="tablaPreconceptos.header" [bodyTable]="tablaPreconceptos.body"
                                    (selectElementos)="
                                        selectPreconceptos($event)
                                      " #searchPreconceptos></app-search-element>


                                  <!-- Button trigger modal -->
                                  <app-add-element [model]="newPreconcepto.model" [title]="newPreconcepto.title"
                                    [labels]="newPreconcepto.labels" [mer]="newPreconcepto.mer" #addPreconcepto>
                                  </app-add-element>
                                </div>
                              </div>
                              <div class="col-sm-2 col-md-2 btnesBanco">
                                <button type="button" (click)="searchPreconceptos.cargarModel()" class="
                                    btn btn-plantilla
                                    btnsearpreg
                                    btn-primary
                                  " data-toggle="modal" data-target="#preconcepto">
                                  <i class="fas fa-search"></i>
                                </button>
                                <button type="button" (click)="
                                addPreconcepto.addArray(newPreconcepto.arrayForm)
                                  " class="
                                    btn btn-plantilla
                                    btnaddpreg
                                    btn-primary
                                  " data-toggle="modal" data-target="#addpreconcepto">
                                  <i class="fas fa-plus"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-lg-12 col-md-12">
                      <div class="mt-30 lbel25">
                        <div class="row">
                          <div class="col-sm-12 col-md-3">
                            <div class="row">
                              <div class="col-sm-12 col-md-10 ">
                                <label>Introducción *</label>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                <button class="btn-tooltip" data-toggle="tooltip"
                                  title="Breve introducción sobre los temas que va a tratar la lección">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-9 ">
                            <angular-editor [placeholder]="
                                      'Escribe aqui la introducción de la leccion...'
                                    " [(ngModel)]="leccion.introduccion" name="leccion.introduccion">
                            </angular-editor>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                      <div class="course_des_textarea mt-30 lbel25">
                        <div class="row">
                          <div class="col-sm-12 col-md-3">

                            <div class="row">
                              <div class="col-sm-12 col-md-10">
                                <label>Observaciones *</label>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                <button class="btn-tooltip" data-toggle="tooltip"
                                  title="En las observaciones se puede incluir las fuentes bibliograficas de la lección">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-9 ">
                            <angular-editor [placeholder]="
                                        'Escribe aqui las observaciones de la leccion...'
                                      " [(ngModel)]="leccion.observaciones" name="leccion.observaciones">
                            </angular-editor>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <div class="course_des_textarea mt-30 lbel25">
                        <div class="row">
                          <div class="col-sm-12 col-md-3 ">
                            <div class="row">
                              <div class="col-sm-12 col-md-10">
                                <label>Conclusiones *</label>
                              </div>
                              <div class="col-sm-12 col-md-2">
                                <button class="btn-tooltip" data-toggle="tooltip"
                                  title="Las conclusión deben indicarle al estudiante el fin educativo de la lección">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-9 ">
                            <angular-editor [placeholder]="
                                        'Escribe aqui las conclusiones de la leccion...'
                                      " [(ngModel)]="leccion.conclusiones" name="leccion.conclusiones">
                            </angular-editor>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
              <hr class="hr">
              <div class="card cardHeard">
                <div class="" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed"
                      (click)="this.iconStatus[1] = !this.iconStatus[1]" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <div class="row">
                        <div class="title-icon" class="col-lg-12">
                          <ul>
                            <li class="title">
                              <h3>
                                <i *ngIf="!this.iconStatus[1]" class="fas fa-angle-right"> </i>
                                <i *ngIf="this.iconStatus[1]" class="fas fa-angle-down"> </i>
                                {{ this.plantilla?.menuAprender }}
                                <button class="btn-tooltip" data-toggle="tooltip" title="La lección usa la metodología Aprender – Practicar – Aplicar  con el objetivo que sea una enseñanza interactiva, práctica y de fácil manejo.
                              En Aprender se debe colocar todo el contenido temático de la lección
                              ">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </h3>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </button>
                  </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <angular-editor [placeholder]="
                              'El aprender lo puedes copiar y pegar de un documento word...'
                            " [(ngModel)]="leccion.aprender" name="leccion.aprender"></angular-editor>
                  </div>
                </div>
              </div>
              <hr class="hr">
              <div class="card cardHeard">
                <div class="" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <div class="row">
                        <div class="title-icon" class="col-lg-12">
                          <ul>
                            <li class="title">
                              <h3>
                                <i *ngIf="!this.iconStatus[2]" class="fas fa-angle-right"> </i>
                                <i *ngIf="this.iconStatus[2]" class="fas fa-angle-down"> </i>
                                {{ this.plantilla?.menuPracticar }}
                                <button class="btn-tooltip" data-toggle="tooltip" title="La lección usa la metodología Aprender – Practicar – Aplicar  con el objetivo que sea una enseñanza interactiva, práctica y de fácil manejo.
                              En Practicar se puede eleborar preguntas multiples o abiertas para que el estudiante responda de manera interactiva y pueda aplicar lo que vio en el Aprender
                              ">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </h3>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </button>
                  </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body bodyPractica">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="ui search focus mt-30 lbel25">
                          <div class="ui left icon input swdh19">
                            <select [(ngModel)]="tipoSelect" name="tipoSelect" class="
                                      ui
                                      hj145
                                      dropdown
                                      cntry152
                                      prompt
                                      srch_explore
                                      select-competencia
                                    ">
                              <option value="">Tipo de pregunta</option>
                              <option *ngFor="let tipo of tipoPregunta" value="{{ tipo?.nombre }}">
                                {{ tipo?.nombre  }}
                              </option>
                            </select>

                            <button (click)="agregarPregunta()" type="button" class="
                                      btn btn-plantilla
                                      btnaddpreg
                                      btn-primary
                                    ">
                              <i class="fas fa-plus"></i>
                            </button>
                            <button type="button" class="
                                            btn btn-plantilla
                                            btnaddpreg
                                            btn-primary
                                          " data-toggle="modal" data-target="#pregunta">
                              <i class="fas fa-search"></i>
                            </button>
                            <app-search-element [title]="'Banco de preguntas'" [model]="'pregunta'"
                              [headerTable]="tablaPreguntas.header" [bodyTable]="tablaPreguntas.body" (selectElementos)="
                                            selectPreguntas($event)
                                          "></app-search-element>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="accordion" id="acordeonPreguntas">
                      <div>
                        <div *ngFor="let pregunta of preguntas; index as i" class="card">
                          <div class="card-header" role="tab" [ngClass]="pregunta?.accordianclass" role="tab"
                            (click)="onClickAccordion(i, pregunta)">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left" type="button" (click)="this.iconStatus[2]
                              = !this.iconStatus[2]">
                                <div class="row">
                                  <div class="title-icon" class="col-lg-11">

                                    <label class="title">
                                      <i *ngIf="!this.iconStatus[2]" class="fas fa-angle-right"> </i>
                                      <i *ngIf="this.iconStatus[2]" class="fas fa-angle-down"> </i> Pregunta {{ i + 1 }}
                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">Valor pregunta: </span>
                                        </div>
                                        <input type="number" class="form-control" [(ngModel)]="pregunta.valor" required>
                                      </div>

                                    </label>

                                  </div>
                                  <div class="col-lg-1">
                                    <i class="far fa-trash-alt text-danger fa-2x" (click)="eliminarPregunta(i)"></i>
                                  </div>
                                </div>
                              </button>
                            </h2>
                          </div>
                          <div id="headingOne{{ i }}" aria-labelledby="headingOne{{ i }}" class="collapse show"
                            data-parent="#acordeonPreguntas">
                            <div class="card-body" *ngIf="pregunta.showbody">
                              <div *ngIf="pregunta.tipo === 'multiple'" class="col-lg-12 col-md-12">
                                <div class="course_des_textarea  lbel25">
                                  <angular-editor [(ngModel)]="pregunta.contenido" name="pregunta.contenido"
                                    [placeholder]="
                                            'Escribe aqui la pregunta de la leccion...'
                                          "></angular-editor>
                                </div>
                                <div>
                                  <br />
                                  <button (click)="agregarRespuesta(i)" type="button" class="btn btn-respuesta">
                                    Agregar respuesta
                                  </button>

                                  <hr />
                                  <div *ngFor=" let respuesta of respuestas[i];
                                            index as b
                                          ">
                                    <div class="row">
                                      <div class="col-sm-11 col-md-11">
                                        <label>Respuesta: {{ b + 1 }}</label>
                                        <br />
                                        <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">Valor respuesta: </span>
                                          </div>
                                          <input type="number" class="form-control" [(ngModel)]="respuesta.valor" required>
                                        </div>
                                        <label class="form-check-label" for="exampleCheck1">Respuesta correcta
                                          <input class="inputCorrect" type="checkbox" [(ngModel)]="respuesta.correcta"
                                          name="respuesta.correcta" id="exampleCheck1" />
                                        </label>
                                        <br>
                                        <br>
                                      </div>

                                      <div class="col-sm-1 col-md-1">
                                        <i class="far fa-trash-alt text-danger fa-2x"
                                          (click)="eliminarRespuesta(b, i)"></i>
                                      </div>
                                    </div>
                                    <angular-editor [(ngModel)]="respuesta.contenido" name="respuesta.contenido"
                                      [placeholder]=" 'Escribe aqui la respuesta ..'
                                            "></angular-editor>
                                    <br>
                                    <br>
                                    <button (click)="respuesta.addRetro = true" type="button" class="btn btn-respuesta">
                                      Agregar retroalimentación
                                    </button>
                                    <br>
                                    <br>
                                    <div *ngIf="respuesta.addRetro">
                                      <angular-editor [(ngModel)]="
                                                respuesta.retroalimentacion
                                              " name="respuesta.retroalimentacion" [placeholder]="
                                                'Escribe aqui la retroalimentacion ..'
                                              "></angular-editor>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div *ngIf="pregunta.tipo === 'abierta'" class="col-lg-12 col-md-12">
                                <div class="course_des_textarea mt-30 lbel25">
                                  <angular-editor [(ngModel)]="pregunta.contenido" [placeholder]="
                                            'Escribe aqui la pregunta de la leccion...'
                                          " name="leccion.practicar"></angular-editor>

                                  <br>
                                  <button (click)="pregunta.addRetro = true" type="button" class="btn btn-respuesta">
                                    Agregar retroalimentacion
                                  </button>
                                  <br>
                                  <br>
                                  <div *ngIf="pregunta.addRetro">
                                    <angular-editor [(ngModel)]="pregunta.retroalimentacion"
                                      name="pregunta.retroalimentacion"
                                      [placeholder]="'Escribe aqui la retroalimentacion ..'"></angular-editor>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="hr">
              <div class="card cardHeard">
                <div class="" id="cuatro">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed"
                      (click)="this.iconStatus[3] = !this.iconStatus[3]" type="button" data-toggle="collapse"
                      data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                      <div class="row">
                        <div class="title-icon" class="col-lg-12">
                          <ul>
                            <li class="title">
                              <h3>
                                <i *ngIf="!this.iconStatus[3]" class="fas fa-angle-right"> </i>
                                <i *ngIf="this.iconStatus[3]" class="fas fa-angle-down"> </i>
                                {{ this.plantilla?.menuAplicar }}
                                <button class="btn-tooltip" data-toggle="tooltip" title="La lección usa la metodología Aprender – Practicar – Aplicar  con el objetivo que sea una enseñanza interactiva, práctica y de fácil manejo.
                              En aplica existen dos tipos de casos: Caso de estudio y caso practico, de acuerdo a la lección se puede elegir uno de ellos. 
                              ">
                                  <i class="far fa-question-circle"></i>
                                </button>
                              </h3>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </button>
                  </h2>
                </div>
                <div id="collapseFor" class="collapse" aria-labelledby="cuatro" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="col-lg-12 col-md-12">
                      <div class="ui search focus mt-30 lbel25">
                        <div class="ui left icon input swdh19">
                          <select [(ngModel)]="tipoSelect" name="tipoSelect" class="
                                    ui
                                    hj145
                                    dropdown
                                    cntry152
                                    prompt
                                    srch_explore
                                    select-competencia
                                  ">
                            <option value="">Tipo de aplica</option>
                            <option value="estudio">
                              Caso de estudio
                            </option>
                            <option value="practico">
                              Caso practico
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div *ngIf="tipoSelect === 'estudio'" class="col-sm-12">
                        <hr />
                        <h2>Caso de estudio</h2>
                        <label>Sigue el instructivo de ejemplo</label>
                        <angular-editor [(ngModel)]="leccion.aplicar" [placeholder]="
                                  'Escribe aqui el caso de estudio...'
                                " name="leccion.aplicar"></angular-editor>
                      </div>
                      <div *ngIf="tipoSelect === 'practico'" class="col-sm-12">
                        <hr />
                        <h2>Practico</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="hr">
              <button (click)="crearLeccion()" class="btn btn-plantilla btn-guardar" type="button" *ngIf="!id">
                Guardar
              </button>
              <button (click)="editarLeccion()" class="btn btn-plantilla btn-guardar" type="button" *ngIf="id">
                Editar
              </button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
