.select-competencia {
  max-width: 250px;
}

.option {
  max-width: 250px;
  overflow: scroll;
}

.card-preguntas {
  background-color: #43bd41;
  color: white;
  text-decoration: none;
}

/* .collapseAccordion :hover {
  color: white;
  background-color: #B1E8B0;
}
 */
.expandAccordion {
  color: white;
  background-color: #94C0F0;
}

#iconodesplegable {
  font-size: 25px;
}

.card-header {
  background-color: white;
}

#cardprimera {
  border-color: #2671c3;
  border-bottom-width: 8px;
}

hr {
  background-color: #2671c3;
}

.card-img-top{
  height: 200px;
}

#iconodesplegable{
  font-size: 25px;
  color: #2671c3;
}

li {
  color: black;
}

.btn-plantilla{
  margin-top: 3%;
  margin-left: 85%;
}


tag-input{
  width: 800px;

}

.editorangular{
  padding-right: 0;
  margin-right: 0;
  padding-left: 0.5em;
 
}

.labelangular{
  padding-left: 0.1em;
}

tag-input-dropdown{
  width: 2000vh !important;
  padding: 0;
}

input.custom-select.inputtitle.ng-untouched.ng-pristine.ng-invalid{
  border: 1px gray solid;
  border-radius: 0;
}

select.custom-select.inputobject.ng-untouched.ng-pristine.ng-valid{
  border: 1px gray solid;
  height: 40px;
  border-radius: 0%;
}


input.ng2-tag-input__text-input.ng-pristine.ng-valid.ng-touched{
  height: 40px;
  border: 1px gray solid;
}




