.select-competencia {
  max-width: 250px;
}

.option {
  max-width: 250px;
  overflow: scroll;
}

.card-preguntas {
  background-color: #43bd41;
  color: white;
  text-decoration: none;
}

/* .collapseAccordion :hover {
  color: white;
  background-color: #B1E8B0;
}
 */
.expandAccordion {
  color: white;
  background-color: #94C0F0;
}

#iconodesplegable {
  font-size: 25px;
}

.card-header {
  background-color: white;
}

#cardprimera {
  border-color: #2671c3;
  border-bottom-width: 8px;
}

hr {
  background-color: #9ba2a8;
}

.card-img-top{
  height: 200px;
}

#iconodesplegable{
  font-size: 25px;
  color: #2671c3;
}

li {
  color: black;
}

.btn-plantilla{
  margin-top: 3%;
  margin-left: 85%;
}


tag-input{
  width: 800px;

}

tag-input-dropdown{
  width: 2000vh !important;
  padding: 0;
}

input.custom-select.inputtitle.ng-untouched.ng-pristine.ng-invalid{
  border: 1px gray solid;
  border-radius: 0;
}

select.custom-select.inputobject.ng-untouched.ng-pristine.ng-valid{
  border: 1px gray solid;
  height: 40px;
  border-radius: 0%;
}


input.ng2-tag-input__text-input.ng-pristine.ng-valid.ng-touched{
  height: 40px;
  border: 1px gray solid;
}

.btnaddpreg{
  margin-left: 2%;
  border-radius: 25px;
  margin-top: 0;

}

.btnsearpreg{
  margin-left: 20%;
  border-radius: 25px;
  margin-right: 10%;
}

.btn-tooltip{
  background-color: white;
  border: 0;
  margin-right: 10px;
  color: #2671c3;
  width: 20px;
  padding: 0;
}
.inputtitle {
  width: 80%;
}

.cardHeard{
  border: none;
  
}



.hr{
  background-color: rgba(0,0,0,.125);
  width: 95%;
  align-self: center;
  margin: 0;
}

.btnesBanco{
  padding: 0;
}


.bodyPractica{
  padding-top: 0;
}

h3 {
  margin: 0 0 0 0;
}

.btn-guardar{
  margin-left: 900px;
  margin-right: 25px;
  margin-bottom: 20px;

}

.inputCorrect{
  margin-left: 5px;
}