<!-- Body Start -->
<div *ngIf="!test" class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="container">
                <br>
                <div class="alert alert-primary" role="alert">
                    Esta prueba no esta activa
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="test" class="wrapper _bg4586 _new89">
    <div class="_215b15">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title126">
                        <div class="alert alert-danger " role="alert">
                            <h2 class="alert-heading">{{test.nombre|uppercase}}</h2>
                            <p>{{test.observaciones}}</p>
                            <hr>
                            <span class="mb-3">Prueba creada por: {{test.creador.nombre}}
                                {{test.creador.apellido}}</span>
                            <br>
                            <span>Fecha inicio: {{test.inicio}}</span>
                            <span> - </span>
                            <span>Fecha cierre: {{test.cierre}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq1256">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="certi_form rght1528">
                        <div class="test_timer_bg">
                            <ul class="test_timer_left">
                                <li>
                                    <div class="timer_time">
                                        <h4>20</h4>
                                        <p>Questions</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timer_time">
                                        <h4 id="timer">60</h4>
                                        <p>Minutes</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="certi_form">
                        <form>
                            <div class="all_ques_lest">

                                <div *ngFor="let pregunta of test.preguntas; index as i" class="ques_item">
                                    <div *ngIf="(pregunta.respuestas?.length>0)&&(pregunta.tipo==='multiple')">

                                        <div class="ques_title">
                                            <span>Pregunta {{i+1}}: </span>
                                            {{pregunta.contenido}}
                                        </div>

                                        <div class="ui form">
                                            <div class="grouped fields">
                                                <div class="field fltr-radio"
                                                    *ngFor="let respuesta of pregunta.respuestas">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" name="{{i}}" tabindex="0"
                                                            (click)="respuestaSeleccionada(i,respuesta.id)" required>
                                                        <label>{{respuesta.contenido}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="pregunta.tipo==='text'">
                                        <div class="ques_title">
                                            <span>Preguta {{i+1}}:- </span>
                                            {{pregunta.contenido}}
                                        </div>
                                        <div class="ui search focus mt-15">
                                            <div class="ui form swdh30">
                                                <div class="field">
                                                    <textarea rows="5" name="answer" id="id_answer"
                                                        placeholder="Pls explain" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button  class="test_submit_btn"  (click)="validarRespuestas()">Finalizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>