<div class="wrapper">
  <div class="sa4d25">
    <!-- Body Start -->
    <div *ngIf="!test" class="wrapper">
      <div class="sa4d25">
        <div class="container-fluid">
          <div class="container">
            <br />
            <div class="alert alert-primary" role="alert">
              Esta prueba no esta activa
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="test" class="container-fluid container">
      <div class="container">
        <h2>Prueba de conocimiento</h2>
        <div class="row row-general">
          <div class="col-sm-12 col-md-4 col-primero">
            <div class="certi_form rght1528 tiempo">
              <div class="test_timer_bg">
                <ul class="test_timer_left">
                  <li>
                    <div class="timer_time">
                      <h4>{{ test.preguntas?.length }}</h4>
                      <p>Preguntas</p>
                    </div>
                  </li>
                  <li>
                    <div class="timer_time">
                      <h4 id="timer">{{ test.duracion }}</h4>
                      <p>Minutos</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-8 col-segundo">
            <div
              *ngFor="let pregunta of test.preguntas; index as i"
              class="ques_item"
            >
              <div
                *ngIf="
                  pregunta.respuestas?.length > 0 &&
                  pregunta?.tipo?.nombre === 'multiple'
                "
              >
                <div class="ques_title">
                  <span>Pregunta {{ i + 1 }}: </span>
                  <p [innerHTML]="pregunta?.contenido"></p>
                </div>

                <div class="ui form">
                  <div class="grouped fields">
                    <div
                      class="field fltr-radio"
                      *ngFor="let respuesta of pregunta.respuestas"
                    >
                      <div class="ui radio checkbox">
                        <input
                          type="radio"
                          name="{{ i }}"
                          tabindex="0"
                          (click)="respuestaSeleccionada(i, respuesta.id)"
                          required
                        />
                        <label [innerHTML]="respuesta?.contenido"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="pregunta?.tipo?.nombre === 'abierta'">
                <div class="ques_title">
                  <span>Pregunta {{ i + 1 }}:- </span>
                  {{ pregunta?.contenido }}
                </div>
                <div class="ui search focus mt-15">
                  <div class="ui form swdh30">
                    <div class="field">
                      <textarea
                        rows="5"
                        name="answer"
                        id="id_answer"
                        placeholder="Escribe tú respuesta"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="test_submit_btn btn-plantilla"
              (click)="validarRespuestas()"
            >
              Finalizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
