._bg4586{
    padding: 0;
}

.tiempo{
    margin-top:0%;
}

.row-general{
    border: solid 1px;
    width: 100%;
    border-color: rgb(204, 199, 199);
    margin-left: 1px;
    padding: 25px;

}

col-primero{
    margin-left: 20%;
}

col-segundo{    
    width: 100%;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
}
