<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h1>
                Carga de preconceptos masivos
              </h1>
            </div>
            <div class="card-body">
              <h2 class="card-title">Recomendacion para la carga</h2>
              <p class="card-text">
                1. Descargue la plantilla de carga masiva <a href="#" target="_blank">Haciendo click aqui.</a>
                <br>
                2. Llene toda la informacion posible y no altere la estructura del formato
              </p>
              
              <input type="file" (change)="onFileChange($event)" multiple="false" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
