<!-- Left Sidebar Start -->
<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu" >
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a href="index.html" class="menu--link active" title="Home">
                        <i class='uil uil-home-alt menu--icon'></i>
                        <span class="menu--label">Hogar</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="live_streams.html" class="menu--link" title="Live Streams">
                        <i class='uil uil-kayak menu--icon'></i>
                        <span class="menu--label">Transmisiones en vivo</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="explore.html" class="menu--link" title="Explore">
                        <i class='uil uil-search menu--icon'></i>
                        <span class="menu--label">Explorar</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="liked_courses.html" class="menu--link" title="Liked Courses">
                        <i class='uil uil-thumbs-up menu--icon'></i>
                        <span class="menu--label">Cursos favoritos</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="categories.html" class="menu--link" title="Categories">
                        <i class='uil uil-layers menu--icon'></i>
                        <span class="menu--label">Categories</span>
                    </a>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Tests">
                      <i class='uil uil-clipboard-alt menu--icon'></i>
                      <span class="menu--label">Pruebas</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Centro de certificación</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_start_form.html" class="sub_menu--link">Formulario de llenado de certificación</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_test_view.html" class="sub_menu--link">Vista de prueba</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_test__result.html" class="sub_menu--link">Resultado de la prueba</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="http://www.gambolthemes.net/html-items/edututs+/Instructor_Dashboard/my_certificates.html" class="sub_menu--link">Mi Certificación</a>
                        </li>
                    </ul>
                </li>
                <li class="menu--item">
                    <a href="history.html" class="menu--link" title="History">
                      <i class='uil uil-history menu--icon'></i>
                      <span class="menu--label">Historia</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="watch_later.html" class="menu--link" title="Watch Later">
                      <i class='uil uil-clock-three menu--icon'></i>
                      <span class="menu--label">Ver despues</span>
                    </a>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <label class="menu--link" title="Pages">
                      <i class='uil uil-file menu--icon'></i>
                      <span class="menu--label">Páginas</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="about_us.html" class="sub_menu--link">Sobre</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="sign_in.html" class="sub_menu--link">Registrarse</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="sign_up.html" class="sub_menu--link">Inscribirse</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="sign_up_steps.html" class="sub_menu--link">Pasos para registrarse</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="membership.html" class="sub_menu--link">Membresía pagada</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="course_detail_view.html" class="sub_menu--link">Vista detallada del curso</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="checkout_membership.html" class="sub_menu--link">Revisa</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="invoice.html" class="sub_menu--link">Factura</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="career.html" class="sub_menu--link">Carrera profesional</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="apply_job.html" class="sub_menu--link">Solicitar empleo</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="our_blog.html" class="sub_menu--link">Nuestro blog</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="blog_single_view.html" class="sub_menu--link">Vista detallada del blog</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="company_details.html" class="sub_menu--link">Detalles de la compañía</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="press.html" class="sub_menu--link">Prensa</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="live_output.html" class="sub_menu--link">Vista de transmisión en vivo</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="add_streaming.html" class="sub_menu--link">Agregar transmisión en vivo</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="search_result.html" class="sub_menu--link">Resultado de búsqueda</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="thank_you.html" class="sub_menu--link">Gracias</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="coming_soon.html" class="sub_menu--link">Próximamente</a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="error_404.html" class="sub_menu--link">Error 404</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
       <!--  <div class="left_section">
            <h6 class="left_title">SUSCRIPCIONES</h6>
            <ul>
                <li class="menu--item">
                    <a href="instructor_profile_view.html" class="menu--link user_img">
                        <img src="assets/images/left-imgs/img-1.jpg" alt="">
                        Rock Smith
                        <div class="alrt_dot"></div>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="instructor_profile_view.html" class="menu--link user_img">
                        <img src="assets/images/left-imgs/img-2.jpg" alt="">
                        Jassica William
                    </a>
                    <div class="alrt_dot"></div>
                </li>
                <li class="menu--item">
                    <a href="all_instructor.html" class="menu--link" title="Browse Instructors">
                      <i class='uil uil-plus-circle menu--icon'></i>
                      <span class="menu--label">Examinar instructores</span>
                    </a>
                </li>
            </ul>
        </div> -->
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a href="setting.html" class="menu--link" title="Setting">
                        <i class='uil uil-cog menu--icon'></i>
                        <span class="menu--label">Configuración</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="help.html" class="menu--link" title="Help">
                        <i class='uil uil-question-circle menu--icon'></i>
                        <span class="menu--label">Ayuda</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="report_history.html" class="menu--link" title="Report History">
                        <i class='uil uil-windsock menu--icon'></i>
                        <span class="menu--label">Historial de informes</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="feedback.html" class="menu--link" title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Enviar comentarios</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_footer">
            <ul>
                <li><a href="about_us.html">Sobre</a></li>
                <li><a href="press.html">Prensa</a></li>
                <li><a href="contact_us.html">Contacta con nosotras</a></li>
                <li><a href="coming_soon.html">Anunciar</a></li>
                <li><a href="coming_soon.html">Desarrolladoras</a></li>
                <li><a href="terms_of_use.html">Derechos de autor</a></li>
                <li><a href="terms_of_use.html">Política de privacidad</a></li>
                <li><a href="terms_of_use.html">Condiciones</a></li>
            </ul>
            <div class="left_footer_content">
                <p>© 2020 <strong>Edututs+</strong>. Reservados todos los derechos.</p>
            </div>
        </div>
    </div>
</nav>
<!-- Left Sidebar End -->