<!-- Body Start -->
<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <div class="row">
            <div class="col-sm-12">
              <div class="section3125 mt-50">
                <h4 class="item_title">Leccion destacada</h4>
                <a [routerLink]="['/dashboard/lesson/lesson-detail', this.leccion.slug]"
                  routerLinkActive="router-link-active" class="fcrse_img">
                  <img src="{{this.leccion.portada}}" alt="">
                  <div class="course-overlay">
                    <div class="badge_seller">{{this.leccion.estado}}</div>
                    <div class="crse_reviews">
                      <i class='uil uil-star'></i>{{this.leccion.titulo}}
                    </div>
                    <span class="play_btn1"><i class="uil uil-play"></i></span>
                    <div class="crse_timer">
                      {{this.leccion.codigo}}
                    </div>
                  </div>
                </a>
                <div class="la5lo1">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="right_side">
            <div class="fcrse_2 mb-30">
              <div class="tutor_img">
                <a href="#"><img src="{{this.leccion.docente.img}}" alt=""></a>
              </div>
              <div class="tutor_content_dt">
                <div class="tutor150">
                  <a href="#" class="tutor_name">{{this.leccion.docente.nombre}}</a>
                  <div class="mef78" title="Verify">
                    <i class="uil uil-check-circle"></i>
                  </div>
                </div>
                <div class="tutor_cate">{{this.leccion.docente.rol.nombre}}</div>
                <ul class="tutor_social_links">
                  <li><a href="#" class="fb"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
                <div class="tut1250">
                  <span class="vdt15">0 Estudiantes</span>
                  <span class="vdt15">1 Lección</span>
                </div>
                <a href="#" class="prfle12link">Ir al perfil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div *ngFor="let leccion of lecciones; index as i" class="fcrse_1">
            <a [routerLink]="['/dashboard/lesson/lesson-detail', this.leccion.slug]"
              routerLinkActive="router-link-active" class="hf_img">
              <img src="{{leccion.portada || 'assets/images/courses/portada-base.png'}}"
                alt="Portada de la leccion{{i}}">
              <div class="course-overlay overlay-peque">
                <!-- <div class="badge_seller">Leccion pendiente</div> -->
                <div class="crse_reviews">
                  <i class="uil uil-star"></i> {{leccion.titulo}}
                </div>
                <span class="play_btn1"><i class="uil uil-play"></i></span>
                <div class="crse_timer">
                  Leccion #{{leccion.id}}
                </div>
              </div>
            </a>
            <div class="hs_content">
              <!-- <div class="eps_dots eps_dots10 more_dropdown">
                <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                <div class="dropdown-content">
                  <span><i class='uil uil-times'></i>Remove</span>
                </div>
              </div> -->
              <div class="vdtodt">
                <!-- <span class="vdt14">109k views</span>
                <span class="vdt14">15 days ago</span> -->
              </div>
              <a [routerLink]="['/dashboard/lesson/lesson-detail', this.leccion.slug]"
                routerLinkActive="router-link-active" class="crse14s title900">
                <strong><i class="fas fa-bullseye color-secondary"></i> Objetivo de la leccion: </strong>
                {{leccion.objetivo?.contenido}}
              </a>
              <!-- <a href="#" class="crse-cate">Web Development | Python</a> -->
              <div class="auth1lnkprce">
                <p class="cr1fot">Creada por: <a href="#">{{factory.user.nombre}}</a></p>
                <div class="prce142">
                  <button (click)="iniciar(leccion.slug)" class="part_btn_save btn-plantilla" type="button">
                    Iniciar
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body End -->
