.tarjeta {
    overflow: hidden;
}

.tarjetaimagen {
    overflow: hidden;
    object-fit: cover;
    height: 160px;
}


.tarjetatest:hover {
    box-shadow: 1px 1px 5px 1px gray; 
}

.imagencirculo {
    width: 90px;

}

.botonNueva {
    overflow: hidden;
    margin-left: 40%;
}

.botonComenzar {
    overflow: hidden;
    margin-left: 21%;
    margin-right: 0%;
}

.textDocente {
    text-align: center;
    font-weight: bold;
}

.colComenzar {
   padding-right: 3%;
   text-align: end;
   margin-top: 6%;
}

.colFoto {
    padding-right: 6%;
    text-align: right;
    padding-left: 0;

}

.checkVerde {
    color: green;
}

.columnaPrincipal {
    margin-top: 3%;
}

.relojInicio {
    color: green;
}

.relojCierre {
    color: red;
}