<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="container">
        <br>
        <div class="card mb-3 tarjeta">
          <img src="{{plantilla.bannerImg}}" class="card-img-top tarjetaimagen" alt="{{plantilla.bannerAlt}}">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-9">
                <h1 class="card-title">{{plantilla.bannerTitulo}}</h1>
   
              </div>
              <div class="col-sm-3 d-flex  align-items-rigth">
                <a href="/dashboard/test/create-test" class="upload_btn  botonNueva"> <i class="{{plantilla.bannerBotonIcono}}"></i> {{plantilla.bannerBoton}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-sm-6 columnaPrincipal"  *ngFor="let item of tests">
            <div class="card">
              <div class="card-body tarjetatest">
                <div class="row">
                  <div class="col-sm-9">
                    <h4 class="card-title">{{item.nombre}} <i class="far fa-check-circle checkVerde"></i> <i class="far fa-check-circle "></i></h4>
                    <p class="card-text">{{item.observaciones}} </p>

                  </div>

                  <div class="col-sm-3 colFoto">
                    <img src="{{factory.user.img || 'assets/images/test/docente.jpg'}}" alt="imagen docente {{item.id}}" class="rounded-circle imagencirculo">
                    <p class="card-text textDocente"> {{factory.user.nombre + factory.user.apellido}} </p>
                    <span></span>

                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-7">
                    <p class="card-text "> <i class="far fa-clock relojInicio"></i> Fecha inicio: {{item.inicio|date}} </p>
                    <p class="card-text"> <i class="far fa-clock relojCierre"></i> Fecha cierre: {{item.cierre|date}} </p>
                  </div>
                  <div class="col-sm-5 colComenzar">
                    <a [routerLink]="['/dashboard/test', item.id]" routerLinkActive="router-link-active"  class="upload_btn botonComenzar">  {{plantilla.botonTarjeta}} <i id="iconoflecha" class="{{plantilla.botonTarjetaIcono}}"></i></a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <br>

        </div>
      </div>
    </div>
  </div>
  
