.tarjeta {
    overflow: hidden;
}

.tarjetaimagen {
    overflow: hidden;
    object-fit: cover;
    height: 160px;
}


.tarjetatest:hover {
    box-shadow: 1px 1px 5px 1px gray; 
}

.imagencirculo {
    width: 90px;

}

.botonNueva {
    overflow: hidden;
    margin-left: 40%;
    background-color: #2671c3;
}

.botonComenzar {
    overflow: hidden;
    margin-left: 0;
    margin-right: 10px;
    background-color: #2671c3;
}

.textDocente {
    text-align: center;
}

.colComenzar {
    padding: 0;
    text-align: end;
    margin-top: 20px;
}

.colFoto {
    padding-right: 6%;
    text-align: right;
    padding-left: 0;

}

.checkVerde {
    margin-left: 8px;
    color: green;
}

.columnaPrincipal {
    margin-top: 3%;
}

.relojInicio {
    color: green;
}

.relojCierre {
    color: red;
}

.imgDocente img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
}