<!-- Body Start -->
<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="st_title">
            <i class="uil uil-analysis"></i> {{ this.leccion.titulo }}
          </h2>
        </div>
      </div>
      <div class="row card">
        <div class="col-12">
          <div class="course_tabs_1">
            <div id="add-course-tab" class="step-app">
              <ul class="step-steps">
                <li class="active">
                  <a>
                    <span class="number" disabled></span>
                    <span class="step-name" disabled>Aprende</span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="number"></span>
                    <span class="step-name">Practica</span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="number"></span>
                    <span class="step-name">Realimentación</span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="number"></span>
                    <span class="step-name">Aplica</span>
                  </a>
                </li>
              </ul>
              <br>
              <br>
              <div class="step-content">
                <div class="step-tab-panel step-tab-info active" id="tab_step1">
                  <div class="tab-from-content">
                    <div class="title-icon">
                      <h3 class="title">
                        Aprender
                      </h3>
                    </div>
                    <div class=" aprenderContent">
                      <span [innerHTML]="this.leccion.aprender"></span>
                      <div class="step-footer step-tab-pager btnSiguiente">
                        <a id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                          aria-controls="pills-contact" aria-selected="false">
                          <button data-direction="next" class="btn btn-default steps_btn btn-plantilla ">
                            Siguiente
                            <i class="fas fa-arrow-right"></i>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="step-tab-panel step-tab-gallery" id="pills-contact" role="tabpanel"
                  aria-labelledby="pills-contact-tab">
                  <div class="tab-from-content">
                    <div class="title-icon">
                      <h3 class="title">
                        Practicar
                      </h3>
                    </div>
                    <div class="practicaContent">
                      <!-- Body Start -->
                              <h2>Seleccionar la respuesta correcta</h2>
                              <div *ngFor="
                                  let pregunta of leccion.practicar;
                                  index as i
                                ">
                                <div *ngIf="
                                    pregunta.respuestas?.length > 0 &&
                                    pregunta?.tipo?.nombre === 'multiple'
                                  " class="ques_item">
                                  <div class="">
                                    <span>Pregunta {{ i + 1 }} : </span>
                                    <span [innerHTML]="pregunta?.contenido"></span>
                                  </div>
                                  <div class="ui form">
                                    <div class="grouped fields">
                                      <div class="field fltr-radio" *ngFor="
                                          let respuesta of pregunta.respuestas
                                        ">
                                        <div class="ui radio checkbox">
                                          <input type="radio" name="{{i}}" tabindex="0"
                                            (click)="respuestaSeleccionada(i,respuesta.id)" required>

                                          <label [innerHTML]="respuesta?.contenido"></label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div *ngIf="pregunta.tipo?.nombre === 'abierta'">
                                  <div class="ques_title">
                                    <span>Pregunta {{ i + 1 }}:- </span>
                                    {{ pregunta?.contenido }}
                                  </div>
                                  <div class="ui search focus mt-15">
                                    <div class="ui form swdh30">
                                      <div class="field">
                                        <textarea rows="5" name="answer" id="id_answer" placeholder="Pls explain"
                                          required></textarea>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>


                              <div class="step-footer step-tab-pager btnSiguiente">
                                <a id="#tab_step3-tab" data-toggle="pill" href="#tab_step3" role="tab"
                                  aria-controls="#tab_step3" aria-selected="false">
                                  <button (click)="validarRespuestas()" data-direction="next"
                                    class="btn btn-default steps_btn ">
                                    Siguiente <i class="fas fa-arrow-right"></i>
                                  </button>
                                </a>
                              </div>
                          
                          
                        
                      
                    </div>
                  </div>
                </div>
                <div class="step-tab-panel step-tab-location step" id="tab_step3" role="tabpanel"
                  aria-labelledby="tab_step3-contact-tab">
                  <div class="tab-from-content">
                    <div class="wrapper _bg4586 _new89 wrapper">
                      <div class="_215b15">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class=" title-icon titleResult">
                                <h3 class="title">Resultados</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="faq1256">
                        <div class="container">
                          <div class="row justify-content-md-center">
                            <div class="col-md-6 resultGrafits">
                              <div class="certi_form rght1528">
                                <div class="test_result_bg ">

                                  <ul class="test_result_left">
                                    <li>
                                      <div class="result_dt">
                                        <i class="uil uil-check right_ans"></i>
                                        <p>Correcto<span>({{response?.correctas?.length}})</span></p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="result_dt">
                                        <i class="uil uil-times wrong_ans"></i>
                                        <p>Incorrecto<span>({{(response?.totales -
                                            response?.correctas?.length)}})</span></p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="result_dt">
                                        <h4>{{response?.correctas?.length}}</h4>
                                        <p>Total {{response?.totales}}</p>
                                      </div>
                                    </li>
                                  </ul>
                                  <div class="result_content">
                                    <h2>Buen trabajo!</h2>

                                  </div>
                                </div>

                                <!-- Body Start -->

                              </div>
                            </div>


                            <div class="wrapper _bg4586 _new89">
                              <div class="faq1256">
                                <div class="container">
                                  <div class="row resultContent">
                                    <div class="col-sm-12 col-md-12">
                                      <hr>
                                      <div *ngFor="
                                        let pregunta of leccion.practicar;
                                        index as i
                                      ">
                                        <div *ngIf="
                                          pregunta.respuestas?.length > 0 &&
                                          pregunta?.tipo?.nombre === 'multiple'" class="ques_item">
                                          <div class="">
                                            <span>Pregunta {{ i + 1 }} : </span>
                                            <span [innerHTML]="pregunta?.contenido"></span>
                                          </div>

                                          <div class="ui form">
                                            <div class="grouped fields">
                                              <div class="field fltr-radio"
                                                *ngFor=" let respuesta of pregunta.respuestas">
                                                <div class="ui radio checkbox checkColor" *ngIf="
                                                  respuesta.id === this.response.resUser [i] &&
                                                    this.response.resUser[ i ] !== pregunta.respuestaCorrecta;
                                                  else elseBlock ">
                                                  <input type="radio" tabindex="0" checked />
                                                  <p class="checkColorT"> <label [innerHTML]="
                                                    respuesta?.contenido
                                                  "></label> </p>
                                                </div>

                                                <ng-template #elseBlock>
                                                  <div class="ui radio checkbox checkColor2" *ngIf="
                                                    respuesta.id ===
                                                      pregunta.respuestaCorrecta;
                                                    else elseBlock2
                                                  ">
                                                    <input type="radio" tabindex="0" checked />
                                                    <p class="checkColorT2"> <label [innerHTML]="
                                                      respuesta?.contenido
                                                    "></label></p>
                                                  </div>
                                                  <ng-template #elseBlock2>
                                                    <div class="
                                                      ui
                                                      radio
                                                      checkbox
                                                    ">
                                                      <input type="radio" name="{{ i }}" tabindex="0" required
                                                        disabled />
                                                      <label [innerHTML]="
                                                        respuesta?.contenido
                                                      "></label>
                                                    </div>
                                                  </ng-template>
                                                </ng-template>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div *ngIf="
                                          pregunta.tipo?.nombre ===
                                          'abierta'
                                        ">
                                          <div class="ques_title">
                                            <span>Pregunta {{ i + 1 }}:-
                                            </span>
                                            {{ pregunta?.contenido }}
                                          </div>
                                          <div class="ui search focus mt-15">
                                            <div class="ui form swdh30">
                                              <div class="field">
                                                <textarea rows="5" name="answer" id="id_answer"
                                                  placeholder="Pls explain" required></textarea>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="step-footer step-tab-pager btnSiguiente">
                                        <a id="#tab_step4-tab" data-toggle="pill" href="#tab_step4" role="tab"
                                          aria-controls="#tab_step4" aria-selected="false">
                                          <button data-direction="next" class="btn btn-default steps_btn">
                                            Siguiente <i class="fas fa-arrow-right"></i>
                                          </button>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>




                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Body End -->
                  </div>
                </div>

                <div class="step-tab-panel step-tab-amenities" id="tab_step4" role="tabpanel"
                  aria-labelledby="tab_step4-contact-tab">
                  <div class="tab-from-content">
                    <div class="title-icon">
                      <h3 class="title">
                        Aplicar
                      </h3>
                    </div>
                    <div class="
                    ">
                      <div class="row aplicarContent">
                        <div class="col-lg-12">
                          <div class="extra_info">
                            <h4 class="part__title">Caso de Estudio</h4>
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <div class="course_des_textarea mt-30 lbel25">
                              <label>Eres el líder de un proyecto estás
                                desarrollando una tienda virtual y quieres
                                probar la funcionalidad de carrito de compras.
                                Intenta formular el caso de uso, detallando los
                                pasos que debe llevar a cabo el usuario para
                                realizar la acción posteriormente define el caso
                                de prueba como los ejemplificados durante la
                                lección detallando contexto, acción y resultado
                                esperado.
                              </label>
                              <angular-editor [placeholder]="" [(ngModel)]="response.aplica" name="response.aplica">

                              </angular-editor>
                            </div>
                          </div>

                          <div class="card-body">
                            <form class="form" method="" action="">
                              <div class="container containercarga" appDnd (fileDropped)="onFileDropped($event)">
                                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="
                                    fileBrowseHandler($event.target.files)
                                  " />
                                <img class="imgcarga" src="assets/images/dnd/ic-upload-file.svg"
                                  alt="imagen de carga" />
                                <h3>Arrastra y suelta tus archivos aqui</h3>

                                <label for="fileDropRef">Buscar archivos</label>
                              </div>

                              <div class="files-list">
                                <div class="single-file" *ngFor="let file of files; let i = index">
                                  <img src="assets/images/dnd/ic-file.svg" width="45px" alt="file" />
                                  <div class="info">
                                    <h4 class="name">
                                      {{ file?.name }}
                                    </h4>
                                    <p class="size">
                                      {{ formatBytes(file?.size) }}
                                    </p>
                                    <app-progress [progress]="file?.progress"></app-progress>
                                  </div>
                                  <img src="assets/images/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file"
                                    (click)="deleteFile(i)" />
                                </div>
                                <button (click)="uploadFile()" class="btn btn-default steps_btn">
                                  Guardar
                                </button>
                              </div>
                            </form>
                          </div>

                          <div class="step-footer step-tab-pager btnSiguiente " text-center>
                            <button (click)="finalizarLeccion()" data-direction="next"
                              class="btn btn-default steps_btn">
                              Finalizar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Body End -->
    </div>
  </div>
</div>