<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div>
            <img src="{{plantilla.imgBanner}}" class="card-img-top" alt="..." />
          </div>

          <div class="card">
            <div class="card-header card-header-danger">
              <div class="d-flex justify-content-start">
                <h2 class="card-title">{{plantilla.tituloBanner}}</h2>
              </div>
              <div class="d-flex justify-content-end">
                <button (click)="newLaboratory()" class="btn btn-success text-right" type="button">
                  <i class="fas fa-plus"></i> Iniciar nuevo laboratorio
                </button>
              </div>
            </div>
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
