<div class="wrapper">
    <div class="sa4d25">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="st_title">
                Ver y calificar
            </h2>
          </div>
          <div class="col-12">
            <div *ngFor="let leccion of lecciones; index as i" class="fcrse_1">
              <a [routerLink]="[
                  '/dashboard/lesson/lesson-detail',
                  this.leccion.slug
                ]" routerLinkActive="router-link-active" class="hf_img">
                <img src="{{
                    leccion.portada || 'assets/images/courses/portada-base.png'
                  }}" alt="Portada de la leccion{{ i }}" />
                <div class="course-overlay overlay-peque">
                  <!-- <div class="badge_seller">Leccion pendiente</div> -->
                  <div class="crse_reviews">
                    <i class="uil uil-star"></i> {{ leccion.titulo }}
                  </div>
                  <span class="play_btn1"><i class="uil uil-play"></i></span>
                  <div class="crse_timer">Leccion #{{ leccion.id }}</div>
                </div>
              </a>
              <div class="hs_content">

                <a [routerLink]="[
                    '/dashboard/lesson/lesson-detail',
                    this.leccion.slug
                  ]" routerLinkActive="router-link-active" class="crse14s title900">
                  <strong><i class="fas fa-bullseye color-secondary"></i> Objetivo de
                    la lección:
                  </strong>
                  {{ leccion.objetivo?.contenido }}
                </a>
                <!-- <a href="#" class="crse-cate">Web Development | Python</a> -->
                <div class="auth1lnkprce">
                  <p class="cr1fot">
                    Creada por: <a href="#">{{ factory.user.nombre }}</a>
                  </p>
                  <div class="prce142">

                    <a [routerLink]="['/dashboard/lesson/lesson-editar', this.leccion.slug]" routerLinkActive="router-link-active"  class="btn btn-plantilla btnEditar" type="button">
                      Ver
                    </a> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>